openapi: 3.1.0
info:
  title: Nia AI API
  version: '2.1.0'
  description: |
    Nia AI API allows developers to index and query code repositories and documentation using advanced AI understanding.
    The API provides capabilities for:
    - Repository indexing and management (including direct GitHub tree access)
    - Documentation/website indexing and management
    - AI-powered search across code and documentation
    - Advanced regex pattern search over indexed repositories
    - Package source code search across npm, PyPI, crates.io, and Go modules (powered by Chroma)
    - Web search and deep research capabilities
    - Cross-agent conversation context sharing with semantic search
    - Real-time status checking for indexing operations
    - Streaming responses for interactive applications
  
servers:
  - url: https://apigcp.trynia.ai/v2
    description: Production API
  - url: http://localhost:8000/v2
    description: Local development

security:
  - ApiKeyAuth: []

components:
  securitySchemes:
    ApiKeyAuth:
      type: http
      scheme: bearer
      bearerFormat: API Key
      description: API key must be provided in the Authorization header

  schemas:
    RepositoryRequest:
      type: object
      required:
        - repository
      properties:
        repository:
          type: string
          description: Repository identifier in owner/repo format or full GitHub URL (supports folder paths like owner/repo/tree/branch/folder)
          example: "microsoft/vscode"
        branch:
          type: string
          description: Branch to index (defaults to repository's default branch)
          example: "main"

    QueryRequest:
      type: object
      required:
        - messages
      properties:
        messages:
          type: array
          items:
            type: object
            required:
              - role
              - content
            properties:
              role:
                type: string
                enum: [user, assistant]
              content:
                type: string
          description: Chat messages for context and query
          example:
            - role: user
              content: "How does the error handling work in this codebase?"
        repositories:
          type: array
          items:
            type: object
            required:
              - repository
            properties:
              repository:
                type: string
                description: Repository identifier in owner/repo format or owner/repo/tree/branch/folder for folder-indexed repos
          description: List of repositories to query
        data_sources:
          type: array
          items:
            oneOf:
              - type: string
                description: |
                  Flexible data source identifier (recommended). Can be:
                  - UUID (e.g., "550e8400-e29b-41d4-a716-446655440000")
                  - Display name (e.g., "Vercel AI SDK - Core")
                  - URL (e.g., "https://docs.trynia.ai/")
              - type: object
                required:
                  - source_id
                properties:
                  source_id:
                    type: string
                    description: Data source UUID identifier (legacy format)
              - type: object
                required:
                  - identifier
                properties:
                  identifier:
                    type: string
                    description: Flexible data source identifier
          description: |
            List of documentation/web sources to query. Supports flexible identifiers:
            - String format (recommended): ["Vercel AI SDK - Core", "https://docs.trynia.ai/"]
            - Legacy object format: [{"source_id": "uuid"}]
            - New object format: [{"identifier": "display-name-or-url"}]
        search_mode:
          type: string
          enum: [repositories, sources]
          default: repositories
          description: "Search mode: 'repositories' searches only code, 'sources' searches only documentation"
        stream:
          type: boolean
          default: false
          description: Whether to stream the response
        include_sources:
          type: boolean
          default: true
          description: Whether to include full source texts in the response (when false, only file paths are returned)

    RepositoryStatus:
      type: object
      required:
        - repository
        - branch
        - status
      properties:
        repository:
          type: string
          description: Repository identifier
        branch:
          type: string
          description: Branch being indexed
        status:
          type: string
          enum: [indexing, completed, indexed, error]
          description: Current indexing status
        progress:
          type: object
          description: Detailed progress information
          properties:
            percentage:
              type: number
              description: Progress percentage (0-100)
            stage:
              type: string
              description: Current stage of indexing
            message:
              type: string
              description: Progress message
        error:
          type: string
          description: Error message if status is 'error'

    RepositoryListItem:
      type: object
      properties:
        repository_id:
          type: string
          description: Unique identifier for the repository
        id:
          type: string
          description: Internal project ID for graph visualization
        repository:
          type: string
          description: Repository identifier in owner/repo format
        branch:
          type: string
          description: Indexed branch
        status:
          type: string
          enum: [indexing, indexed, completed, error]
        display_name:
          type: string
          description: Custom display name for the repository
        progress:
          type: object
          properties:
            percentage:
              type: number
            stage:
              type: string
            message:
              type: string
        error:
          type: string
          description: Error message if status is 'error'

    RenameRequest:
      type: object
      required:
        - new_name
      properties:
        new_name:
          type: string
          minLength: 1
          maxLength: 100
          description: New display name for the resource

    RenameRequestWithIdentifier:
      type: object
      required:
        - identifier
        - new_name
      properties:
        identifier:
          type: string
          description: |
            Flexible data source identifier. Can be:
            - UUID (e.g., "550e8400-e29b-41d4-a716-446655440000")
            - Display name (e.g., "Vercel AI SDK - Core")
            - URL (e.g., "https://docs.trynia.ai/")
        new_name:
          type: string
          minLength: 1
          maxLength: 100
          description: New display name for the resource

    WebSearchRequest:
      type: object
      required:
        - query
      properties:
        query:
          type: string
          description: Search query
          example: "best practices for React hooks"
        num_results:
          type: integer
          minimum: 1
          maximum: 10
          default: 5
          description: Number of results to return
        category:
          type: string
          enum: [github, company, research, news, tweet, pdf, blog]
          description: Filter by content category
        days_back:
          type: integer
          description: Only show results from last N days
        find_similar_to:
          type: string
          format: uri
          description: URL to find similar content to

    WebSearchResponse:
      type: object
      properties:
        github_repos:
          type: array
          items:
            type: object
            properties:
              url:
                type: string
              owner_repo:
                type: string
              title:
                type: string
              summary:
                type: string
              highlights:
                type: array
                items:
                  type: string
              published_date:
                type: string
        documentation:
          type: array
          items:
            type: object
            properties:
              url:
                type: string
              title:
                type: string
              summary:
                type: string
              highlights:
                type: array
                items:
                  type: string
        other_content:
          type: array
          items:
            type: object
            properties:
              url:
                type: string
              title:
                type: string
              summary:
                type: string
        total_results:
          type: integer

    DeepResearchRequest:
      type: object
      required:
        - query
      properties:
        query:
          type: string
          description: Research question for deep analysis
          example: "Compare the top 3 state management solutions for React with pros and cons"
        output_format:
          type: string
          description: Optional structure hint for the output (e.g., 'comparison table', 'pros and cons list')

    DeepResearchResponse:
      type: object
      properties:
        data:
          type: object
          description: Structured research data based on the query
        citations:
          type: array
          items:
            type: object
            properties:
              url:
                type: string
              title:
                type: string
              snippet:
                type: string
          description: Sources cited in the research
        status:
          type: string
          enum: [completed, failed]

    SourceContentRequest:
      type: object
      required:
        - source_type
        - source_identifier
      properties:
        source_type:
          type: string
          enum: [repository, documentation]
          description: Type of source to retrieve
        source_identifier:
          type: string
          description: |
            Identifier for the source:
            - For repositories: 'owner/repo:path/to/file' (e.g., 'facebook/react:src/React.js')
            - For documentation: The source URL
        metadata:
          type: object
          additionalProperties: true
          description: Optional metadata from search results to help locate the source

    SourceContentResponse:
      type: object
      properties:
        success:
          type: boolean
        content:
          type: string
          description: Full content of the source file or document
        metadata:
          type: object
          properties:
            repository:
              type: string
            file_path:
              type: string
            branch:
              type: string
            language:
              type: string
            url:
              type: string
            title:
              type: string
            source_type:
              type: string
        error:
          type: string
          description: Error message if retrieval failed

    PackageSearchGrepRequest:
      type: object
      required:
        - registry
        - package_name
        - pattern
      properties:
        registry:
          type: string
          enum: [crates_io, golang_proxy, npm, py_pi]
          description: Package registry to search
          example: "npm"
        package_name:
          type: string
          description: Name of the package to search
          example: "react"
        pattern:
          type: string
          description: Regex pattern to search for in the package source code
          example: "useState|useEffect"
        version:
          type: string
          description: Specific version to search (optional, defaults to latest)
          example: "18.2.0"
        language:
          type: string
          description: Language filter for search results
          example: "TypeScript"
        filename_sha256:
          type: string
          description: SHA256 hash of specific file to search in
        a:
          type: integer
          description: Number of lines after each match to include
        b:
          type: integer
          description: Number of lines before each match to include
        c:
          type: integer
          description: Number of lines before and after each match to include
        head_limit:
          type: integer
          description: Maximum number of results to return
          example: 10
        output_mode:
          type: string
          enum: [content, files_with_matches, count]
          default: content
          description: Format of the output results

    PackageSearchHybridRequest:
      type: object
      required:
        - registry
        - package_name
        - semantic_queries
      properties:
        registry:
          type: string
          enum: [crates_io, golang_proxy, npm, py_pi]
          description: Package registry to search
          example: "npm"
        package_name:
          type: string
          description: Name of the package to search
          example: "react"
        semantic_queries:
          type: array
          items:
            type: string
          minItems: 1
          maxItems: 5
          description: 1-5 semantic queries about the codebase
          example: ["How does React handle state updates?", "What are the main hooks available?"]
        version:
          type: string
          description: Specific version to search (optional, defaults to latest)
          example: "18.2.0"
        filename_sha256:
          type: string
          description: SHA256 hash of specific file to search in
        pattern:
          type: string
          description: Optional regex pattern for pre-filtering results
        language:
          type: string
          description: Language filter for search results
          example: "TypeScript"

    PackageSearchReadFileRequest:
      type: object
      required:
        - registry
        - package_name
        - filename_sha256
        - start_line
        - end_line
      properties:
        registry:
          type: string
          enum: [crates_io, golang_proxy, npm, py_pi]
          description: Package registry containing the file
          example: "npm"
        package_name:
          type: string
          description: Name of the package containing the file
          example: "react"
        filename_sha256:
          type: string
          description: SHA256 hash of the file to read (obtained from grep/hybrid search)
          example: "a1b2c3d4e5f6..."
        start_line:
          type: integer
          minimum: 1
          description: Starting line number (1-based, inclusive)
          example: 1
        end_line:
          type: integer
          minimum: 1
          description: Ending line number (1-based, inclusive)
          example: 100
        version:
          type: string
          description: Specific version of the package (optional, defaults to latest)
          example: "18.2.0"

    PackageSearchResponse:
      type: object
      description: Raw response from Chroma Package Search API
      properties:
        version_used:
          type: string
          description: Version of the package that was searched
          example: "18.2.0"
        results:
          type: array
          description: Search results from the package
          items:
            type: object
            description: Search result item (format varies by search type)
        truncation_message:
          type: string
          description: Message indicating if results were truncated

    DataSourceRequest:
      type: object
      required:
        - url
      properties:
        url:
          type: string
          format: uri
          description: URL to index (documentation or website)
          example: "https://docs.example.com"
        url_patterns:
          type: array
          items:
            type: string
          description: URL patterns to include in crawling (supports wildcards)
          example: ["https://docs.example.com/api/*", "https://docs.example.com/guides/*"]
        exclude_patterns:
          type: array
          items:
            type: string
          description: URL patterns to exclude from crawling
          example: ["/blog/*", "/changelog/*"]
        project_id:
          type: string
          description: Optional project ID to associate with
        max_age:
          type: integer
          description: Maximum age of cached content in seconds (for fast scraping)
        formats:
          type: array
          items:
            type: string
          description: Content formats to return
          example: ["markdown", "html"]
        only_main_content:
          type: boolean
          default: true
          description: Extract only main content (removes nav, ads, etc.)
        limit:
          type: integer
          default: 10000
          description: Maximum number of pages to crawl
        max_depth:
          type: integer
          default: 20
          description: Maximum crawl depth
        crawl_entire_domain:
          type: boolean
          default: true
          description: Whether to crawl the entire domain
        wait_for:
          type: integer
          default: 2000
          description: Time to wait for page to load in milliseconds
        include_screenshot:
          type: boolean
          default: true
          description: Include full page screenshot
        check_llms_txt:
          type: boolean
          default: true
          description: Check for llms.txt file for curated documentation URLs
        llms_txt_strategy:
          type: string
          enum: [prefer, only, ignore]
          default: prefer
          description: |
            How to use llms.txt if found:
            - prefer: Start with llms.txt URLs, then crawl additional pages if under limit
            - only: Only index URLs listed in llms.txt
            - ignore: Skip llms.txt check (traditional behavior)

    DataSourceResponse:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for the data source
        url:
          type: string
          description: The indexed URL
        file_name:
          type: string
          description: File name for text sources
        status:
          type: string
          enum: [pending, processing, completed, failed, error]
          description: Current indexing status
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        page_count:
          type: integer
          default: 0
          description: Number of pages indexed
        chunk_count:
          type: integer
          default: 0
          description: Number of chunks/embeddings created
        project_id:
          type: string
          description: Associated project ID if any
        source_type:
          type: string
          enum: [web, text]
          default: web
        is_active:
          type: boolean
          default: true
        display_name:
          type: string
          description: Custom display name for the data source
        error:
          type: string
          description: Error message if status is 'error' or 'failed'
        error_code:
          type: string
          description: Error code for programmatic error handling

    GitHubTreeRequest:
      type: object
      required:
        - repository_id
      properties:
        repository_id:
          type: string
          description: Repository identifier (owner/repo format)
        branch:
          type: string
          description: Branch name (optional, defaults to repository's default branch)
        include_paths:
          type: array
          items:
            type: string
          description: Only show files in these paths (e.g., ["src/", "lib/"])
        exclude_paths:
          type: array
          items:
            type: string
          description: Hide files in these paths (e.g., ["node_modules/", "dist/"])
        file_extensions:
          type: array
          items:
            type: string
          description: Only show these file types (e.g., [".py", ".js", ".ts"])
        exclude_extensions:
          type: array
          items:
            type: string
          description: Hide these file types (e.g., [".md", ".lock", ".json"])
        show_full_paths:
          type: boolean
          default: false
          description: Show full paths instead of tree structure

    GitHubTreeResponse:
      type: object
      properties:
        repository:
          type: string
          description: Repository identifier
        branch:
          type: string
          description: Branch name
        tree:
          type: array
          items:
            type: object
            properties:
              path:
                type: string
              type:
                type: string
                enum: [file, tree]
              sha:
                type: string
        stats:
          type: object
          properties:
            total_files:
              type: integer
            total_directories:
              type: integer
        formatted_tree:
          type: string
          description: Text representation of the tree structure

    RegexSearchRequest:
      type: object
      required:
        - repositories
        - query
      properties:
        repositories:
          type: array
          items:
            type: string
          description: List of repositories to search (owner/repo format)
          example: ["facebook/react", "vercel/next.js"]
        query:
          type: string
          description: Natural language query or regex pattern
          example: "function handleSubmit"
        pattern:
          type: string
          description: Optional explicit regex pattern (overrides automatic extraction from query)
          example: "async\\s+function\\s+\\w+"
        file_extensions:
          type: array
          items:
            type: string
          description: File extensions to filter (e.g., [".js", ".tsx", ".py"])
        languages:
          type: array
          items:
            type: string
          description: Programming languages to filter (e.g., ["python", "javascript", "typescript"])
        max_results:
          type: integer
          default: 50
          minimum: 1
          maximum: 200
          description: Maximum number of results to return
        include_context:
          type: boolean
          default: true
          description: Include surrounding context lines
        context_lines:
          type: integer
          default: 3
          minimum: 0
          maximum: 10
          description: Number of context lines before/after match

    RegexSearchResponse:
      type: object
      properties:
        query:
          type: string
          description: The search query used
        pattern_used:
          type: string
          description: The regex pattern that was executed
        total_matches:
          type: integer
          description: Total number of matches found
        repositories_searched:
          type: array
          items:
            type: string
          description: Repositories that were searched
        results:
          type: array
          items:
            type: object
            properties:
              repository:
                type: string
              file_path:
                type: string
              line_number:
                type: integer
              matched_line:
                type: string
              context_before:
                type: array
                items:
                  type: string
              context_after:
                type: array
                items:
                  type: string
              language:
                type: string
        truncated:
          type: boolean
          description: Whether results were truncated due to max_results limit

    CodeGrepRequest:
      type: object
      required:
        - pattern
      properties:
        pattern:
          type: string
          description: Regex pattern to search for in repository code
          example: "async function\\s+\\w+"
        path:
          type: string
          default: ""
          description: Limit search to files with this path prefix
          example: "src/"
        context_lines:
          type: integer
          minimum: 0
          maximum: 10
          description: Lines before AND after each match (shorthand for A/B). Overridden by A or B if specified.
        A:
          type: integer
          minimum: 0
          maximum: 20
          description: Lines after each match (like grep -A). Overrides context_lines for after.
        B:
          type: integer
          minimum: 0
          maximum: 20
          description: Lines before each match (like grep -B). Overrides context_lines for before.
        case_sensitive:
          type: boolean
          default: false
          description: Case-sensitive matching (default is case-insensitive)
        whole_word:
          type: boolean
          default: false
          description: Match whole words only
        fixed_string:
          type: boolean
          default: false
          description: Treat pattern as literal string, not regex
        max_matches_per_file:
          type: integer
          minimum: 1
          maximum: 100
          default: 10
          description: Maximum matches to return per file
        max_total_matches:
          type: integer
          minimum: 1
          maximum: 1000
          default: 100
          description: Maximum total matches to return
        output_mode:
          type: string
          enum: [content, files_with_matches, count]
          default: content
          description: |
            Output format:
            - content: Return matched lines with context (grouped by file)
            - files_with_matches: Return only file paths that matched
            - count: Return match counts per file
        highlight:
          type: boolean
          default: false
          description: Add >>markers<< around matched text in results
        include_line_numbers:
          type: boolean
          default: true
          description: Include line numbers in results
        group_by_file:
          type: boolean
          default: true
          description: Group matches by file in results

    CodeGrepResponse:
      type: object
      properties:
        success:
          type: boolean
        matches:
          oneOf:
            - type: object
              additionalProperties:
                type: array
                items:
                  type: object
                  properties:
                    line_number:
                      type: integer
                    line:
                      type: string
                    context:
                      type: string
              description: Matches grouped by file path (when group_by_file is true)
            - type: array
              items:
                type: object
                properties:
                  path:
                    type: string
                  line_number:
                    type: integer
                  line:
                    type: string
                  context:
                    type: string
              description: Flat list of matches (when group_by_file is false)
        files:
          type: array
          items:
            type: string
          description: List of file paths (when output_mode is 'files_with_matches')
        counts:
          type: object
          additionalProperties:
            type: integer
          description: Match counts per file (when output_mode is 'count')
        pattern:
          type: string
          description: The regex pattern that was searched
        path_filter:
          type: string
          description: Path filter that was applied
        total_matches:
          type: integer
          description: Total number of matches found
        files_searched:
          type: integer
          description: Number of code chunks searched
        files_with_matches:
          type: integer
          description: Number of files that contained matches
        truncated:
          type: boolean
          description: Whether results were truncated due to limits
        options:
          type: object
          description: Applied search options
          properties:
            case_sensitive:
              type: boolean
            lines_before:
              type: integer
            lines_after:
              type: integer
            output_mode:
              type: string

    NiaReferences:
      type: object
      description: References to NIA resources used during the conversation
      properties:
        indexed_repositories:
          type: array
          items:
            type: string
          description: List of repository identifiers that were indexed
        indexed_documentation:
          type: array
          items:
            type: string
          description: List of documentation source identifiers
        queried_repositories:
          type: array
          items:
            type: string
          description: Repositories that were queried
        queried_documentation:
          type: array
          items:
            type: string
          description: Documentation sources that were queried
        web_searches:
          type: array
          items:
            type: string
          description: Web search queries performed
        deep_research_queries:
          type: array
          items:
            type: string
          description: Deep research queries performed

    EditedFile:
      type: object
      required:
        - file_path
      properties:
        file_path:
          type: string
          description: Path to the edited file
        operation:
          type: string
          enum: [created, modified, deleted]
          description: Type of operation performed on the file
        lines_added:
          type: integer
          description: Number of lines added (for created/modified operations)
        lines_removed:
          type: integer
          description: Number of lines removed (for modified/deleted operations)
        language:
          type: string
          description: Programming language of the file

    ContextShareRequest:
      type: object
      required:
        - title
        - summary
        - content
        - agent_source
      properties:
        title:
          type: string
          minLength: 1
          maxLength: 200
          description: Descriptive title for the context
        summary:
          type: string
          minLength: 10
          maxLength: 1000
          description: Brief summary of the conversation
        content:
          type: string
          minLength: 50
          description: Full conversation context
        agent_source:
          type: string
          description: Which agent is creating this context (e.g., "cursor", "claude-code")
        tags:
          type: array
          items:
            type: string
          description: Searchable tags for categorization
        metadata:
          type: object
          additionalProperties: true
          description: Optional metadata like file paths, repositories discussed, etc.
        nia_references:
          $ref: '#/components/schemas/NiaReferences'
        edited_files:
          type: array
          items:
            $ref: '#/components/schemas/EditedFile'
          description: List of files that were modified during conversation
        workspace_override:
          type: string
          description: Optional custom workspace name (overrides auto-detection)

    ContextShareResponse:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for the context
        user_id:
          type: string
          description: User who created the context
        organization_id:
          type: string
          description: Organization ID if context belongs to an organization
        title:
          type: string
          description: Context title
        summary:
          type: string
          description: Context summary
        content:
          type: string
          description: Full context content
        tags:
          type: array
          items:
            type: string
        agent_source:
          type: string
          description: Source agent (e.g., "cursor", "claude-code")
        created_at:
          type: string
          format: date-time
          description: When the context was created
        updated_at:
          type: string
          format: date-time
          description: When the context was last updated
        metadata:
          type: object
          additionalProperties: true
        nia_references:
          $ref: '#/components/schemas/NiaReferences'
        edited_files:
          type: array
          items:
            $ref: '#/components/schemas/EditedFile'

    ContextShareUpdateRequest:
      type: object
      description: Request to update an existing context (all fields optional)
      properties:
        title:
          type: string
          minLength: 1
          maxLength: 200
        summary:
          type: string
          minLength: 10
          maxLength: 1000
        content:
          type: string
          minLength: 50
        tags:
          type: array
          items:
            type: string
        metadata:
          type: object
          additionalProperties: true
        nia_references:
          $ref: '#/components/schemas/NiaReferences'
        edited_files:
          type: array
          items:
            $ref: '#/components/schemas/EditedFile'

    OracleResearchRequest:
      type: object
      required:
        - query
      properties:
        query:
          type: string
          description: Research question to investigate
          example: "How does authentication work in the FastAPI codebase?"
        repositories:
          type: array
          items:
            type: string
          description: Optional list of repository identifiers to search
          example: ["fastapi/fastapi", "tiangolo/sqlmodel"]
        data_sources:
          type: array
          items:
            type: string
          description: Optional list of documentation source identifiers to search
          example: ["FastAPI Documentation", "SQLModel Docs"]
        output_format:
          type: string
          description: Optional output format specification
          example: "markdown report with code examples"

    OracleResearchResponse:
      type: object
      properties:
        success:
          type: boolean
          description: Whether the research was successful
        query:
          type: string
          description: The research query that was executed
        final_report:
          type: string
          description: The comprehensive research report generated by Oracle
        citations:
          type: array
          items:
            type: object
            properties:
              source:
                type: string
              content:
                type: string
          description: List of sources cited in the research
        tool_calls:
          type: array
          items:
            type: object
            properties:
              tool:
                type: string
              args:
                type: object
          description: List of tool calls made during research
        iterations:
          type: integer
          description: Number of research iterations performed
        duration_ms:
          type: integer
          description: Duration of the research in milliseconds
        session_id:
          type: string
          description: Unique session identifier for this research

    Error:
      type: object
      required:
        - detail
      properties:
        detail:
          type: string
          description: Error message

  responses:
    UnauthorizedError:
      description: API key is missing or invalid
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    RateLimitError:
      description: Rate limit has been exceeded
      headers:
        X-RateLimit-Limit:
          schema:
            type: integer
          description: Rate limit ceiling for the endpoint
        X-RateLimit-Remaining:
          schema:
            type: integer
          description: Number of requests remaining in the time window
        X-RateLimit-Reset:
          schema:
            type: string
            format: date-time
          description: Time when the rate limit resets
        X-Monthly-Limit:
          schema:
            type: integer
          description: Monthly request limit
        X-Monthly-Remaining:
          schema:
            type: integer
          description: Remaining requests for the month
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'

paths:
  /repositories:
    get:
      summary: List all repositories
      description: List all indexed repositories for the authenticated user
      operationId: listRepositories
      tags:
        - Repositories
      responses:
        '200':
          description: List of repositories retrieved successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RepositoryListItem'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '429':
          $ref: '#/components/responses/RateLimitError'
    post:
      summary: Index a new repository
      description: |
        Start indexing a GitHub repository. The repository must be public or the request must include
        a GitHub token with appropriate access rights. Supports indexing specific folders within a repository
        by providing a path like "owner/repo/tree/branch/folder".
      operationId: indexRepository
      tags:
        - Repositories
      parameters:
        - name: X-GitHub-Token
          in: header
          required: false
          schema:
            type: string
          description: Optional GitHub token for private repository access
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RepositoryRequest'
      responses:
        '200':
          description: Repository indexing started successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    properties:
                      repository_id:
                        type: string
                      status:
                        type: string
                      status_url:
                        type: string
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '429':
          $ref: '#/components/responses/RateLimitError'

  /repositories/{repository_id}:
    get:
      summary: Get repository indexing status
      description: Check the current status of repository indexing
      operationId: getRepositoryStatus
      tags:
        - Repositories
      parameters:
        - name: repository_id
          in: path
          required: true
          schema:
            type: string
          description: The ID of the repository returned from the index endpoint
      responses:
        '200':
          description: Repository status retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RepositoryStatus'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          description: Repository not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          $ref: '#/components/responses/RateLimitError'
    delete:
      summary: Delete a repository
      description: Remove an indexed repository from your account
      operationId: deleteRepository
      tags:
        - Repositories
      parameters:
        - name: repository_id
          in: path
          required: true
          schema:
            type: string
          description: The ID of the repository to delete
      responses:
        '200':
          description: Repository deleted successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          description: Access denied to repository
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Repository not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          $ref: '#/components/responses/RateLimitError'

  /repositories/{repository_id}/rename:
    patch:
      summary: Rename a repository
      description: Update the display name of an indexed repository
      operationId: renameRepository
      tags:
        - Repositories
      parameters:
        - name: repository_id
          in: path
          required: true
          schema:
            type: string
          description: The ID of the repository to rename
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RenameRequest'
      responses:
        '200':
          description: Repository renamed successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  repository_id:
                    type: string
                  display_name:
                    type: string
                  message:
                    type: string
        '400':
          description: Invalid request (e.g., empty name)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          description: Access denied to repository
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Repository not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          $ref: '#/components/responses/RateLimitError'

  /repositories/{repository_id}/github-tree:
    get:
      summary: Get GitHub tree structure
      description: |
        Get the file and folder structure directly from GitHub API (no indexing required).
        This endpoint provides a fast way to explore repository structure with flexible filtering
        options for paths and file extensions.
      operationId: getGitHubTree
      tags:
        - Repositories
      parameters:
        - name: repository_id
          in: path
          required: true
          schema:
            type: string
          description: Repository identifier in owner/repo format
        - name: branch
          in: query
          required: false
          schema:
            type: string
          description: Branch name (defaults to repository's default branch)
        - name: include_paths
          in: query
          required: false
          schema:
            type: array
            items:
              type: string
          description: Only show files in these paths (e.g., "src/,lib/")
          style: form
          explode: false
        - name: exclude_paths
          in: query
          required: false
          schema:
            type: array
            items:
              type: string
          description: Hide files in these paths (e.g., "node_modules/,dist/")
          style: form
          explode: false
        - name: file_extensions
          in: query
          required: false
          schema:
            type: array
            items:
              type: string
          description: Only show these file types (e.g., ".py,.js,.ts")
          style: form
          explode: false
        - name: exclude_extensions
          in: query
          required: false
          schema:
            type: array
            items:
              type: string
          description: Hide these file types (e.g., ".md,.lock,.json")
          style: form
          explode: false
        - name: show_full_paths
          in: query
          required: false
          schema:
            type: boolean
            default: false
          description: Show full paths instead of tree structure
      responses:
        '200':
          description: GitHub tree retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GitHubTreeResponse'
        '400':
          description: Invalid repository identifier
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          description: Repository not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          $ref: '#/components/responses/RateLimitError'

  /repositories/{repository_id}/grep:
    post:
      summary: Search repository code with regex
      description: |
        Search repository code with a regex pattern.
        Like the Unix 'grep' command, but for indexed repository code.
        Searches through all code chunks and returns matches with context.
        
        Uses TurboPuffer BM25 search for efficient keyword retrieval, then applies
        regex pattern matching on the results. Supports asymmetric context lines
        (A for after, B for before), case sensitivity, whole word matching, and
        multiple output modes.
      operationId: grepRepository
      tags:
        - Repositories
      parameters:
        - name: repository_id
          in: path
          required: true
          schema:
            type: string
          description: Repository identifier in owner/repo format
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CodeGrepRequest'
      responses:
        '200':
          description: Search completed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CodeGrepResponse'
        '400':
          description: Invalid regex pattern or request parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          description: Access denied to repository
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Repository not found or not indexed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          $ref: '#/components/responses/RateLimitError'
        '500':
          description: Search execution error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /query:
    post:
      summary: Query indexed repositories and documentation
      description: |
        Send a query to get AI-powered insights about indexed repositories or documentation sources.
        Supports two search modes:
        - 'repositories': Search only code repositories (default)
        - 'sources': Search only documentation sources (returns vector search results without LLM processing)
        Supports both streaming and non-streaming responses.
      operationId: query
      tags:
        - Query
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QueryRequest'
      responses:
        '200':
          description: Query processed successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  content:
                    type: string
                  sources:
                    type: array
                    items:
                      oneOf:
                        - type: string
                        - type: object
                          properties:
                            file_path:
                              type: string
                            content:
                              type: string
                    description: Code snippets used to generate the response (included when include_sources=true)
                  source_paths:
                    type: array
                    items:
                      type: string
                    description: File paths of the code snippets (included when include_sources=false)
            text/event-stream:
              schema:
                type: string
                description: |
                  Stream of Server-Sent Events (SSE) with the following event types:
                  - sources: List of relevant code sources (when include_sources=true)
                  - source_paths: List of file paths without content (when include_sources=false)
                  - content: Chunks of the AI response
                  - error: Any errors that occur during streaming
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '429':
          $ref: '#/components/responses/RateLimitError'

  /web-search:
    post:
      summary: Web search
      description: |
        Perform a web search to find relevant content.
        Supports filtering by category and time range, as well as finding similar content to a given URL.
      operationId: webSearch
      tags:
        - Search & Research
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebSearchRequest'
      responses:
        '200':
          description: Search completed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebSearchResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '429':
          $ref: '#/components/responses/RateLimitError'
        '503':
          description: Web search service temporarily unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /deep-research:
    post:
      summary: Deep research agent (Pro only)
      description: |
        Perform deep, multi-step research on a topic using advanced AI research capabilities.
        This endpoint is only available for Pro subscription users. The research agent will
        analyze multiple sources, synthesize information, and provide comprehensive answers
        with citations.
      operationId: deepResearch
      tags:
        - Search & Research
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeepResearchRequest'
      responses:
        '200':
          description: Research completed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeepResearchResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          description: Pro subscription required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          $ref: '#/components/responses/RateLimitError'
        '503':
          description: Research service temporarily unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '504':
          description: Research task timed out
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /sources/content:
    post:
      summary: Get full source content
      description: |
        Retrieve the full content of a specific source file or document identified during search.
        This endpoint allows fetching complete content when the truncated search results are insufficient.
      operationId: getSourceContent
      tags:
        - Search & Research
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SourceContentRequest'
      responses:
        '200':
          description: Source content retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SourceContentResponse'
        '400':
          description: Invalid source type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          description: Access denied to source
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Source not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          $ref: '#/components/responses/RateLimitError'

  /data-sources:
    get:
      summary: List all data sources
      description: List all indexed documentation and web sources for the authenticated user
      operationId: listDataSources
      tags:
        - Data Sources
      responses:
        '200':
          description: List of data sources retrieved successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DataSourceResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '429':
          $ref: '#/components/responses/RateLimitError'
    post:
      summary: Index a new data source
      description: |
        Start indexing a documentation website or any web content.
        Supports advanced crawling options like URL patterns, content filtering, and llms.txt support.
      operationId: createDataSource
      tags:
        - Data Sources
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DataSourceRequest'
      responses:
        '200':
          description: Data source indexing started successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataSourceResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '429':
          $ref: '#/components/responses/RateLimitError'

  /data-sources/{source_id}:
    get:
      summary: Get data source details
      description: Get detailed information about a specific data source
      operationId: getDataSource
      tags:
        - Data Sources
      parameters:
        - name: source_id
          in: path
          required: true
          schema:
            type: string
          description: |
            Flexible data source identifier. Can be:
            - UUID (e.g., "550e8400-e29b-41d4-a716-446655440000")
            - Display name (e.g., "Vercel AI SDK - Core")
            - URL (e.g., "https://docs.trynia.ai/")
      responses:
        '200':
          description: Data source details retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataSourceResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          description: Access denied to data source
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Data source not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          $ref: '#/components/responses/RateLimitError'
    delete:
      summary: Delete a data source
      description: Remove an indexed data source from your account
      operationId: deleteDataSource
      tags:
        - Data Sources
      parameters:
        - name: source_id
          in: path
          required: true
          schema:
            type: string
          description: |
            Flexible data source identifier. Can be:
            - UUID (e.g., "550e8400-e29b-41d4-a716-446655440000")
            - Display name (e.g., "Vercel AI SDK - Core")
            - URL (e.g., "https://docs.trynia.ai/")
      responses:
        '200':
          description: Data source deleted successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          description: Access denied to data source
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Data source not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          $ref: '#/components/responses/RateLimitError'

  /data-sources/{source_id}/rename:
    patch:
      summary: Rename a data source (Legacy)
      description: Update the display name of an indexed data source using UUID identifier only
      operationId: renameDataSourceLegacy
      tags:
        - Data Sources
      parameters:
        - name: source_id
          in: path
          required: true
          schema:
            type: string
          description: UUID identifier of the data source to rename
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RenameRequest'
      responses:
        '200':
          description: Data source renamed successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  source_id:
                    type: string
                  display_name:
                    type: string
                  message:
                    type: string
        '400':
          description: Invalid request (e.g., empty name)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          description: Access denied to data source
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Data source not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          $ref: '#/components/responses/RateLimitError'

  /data-sources/{source_id}/tree:
    get:
      summary: Get documentation tree structure
      description: |
        Get the filesystem-like tree structure of indexed documentation.
        Shows all indexed pages organized as a virtual file tree, making it easy
        to browse documentation structure without remembering URLs.
      operationId: getDocumentationTree
      tags:
        - Data Sources
      parameters:
        - name: source_id
          in: path
          required: true
          schema:
            type: string
          description: |
            Flexible data source identifier. Can be:
            - UUID (e.g., "550e8400-e29b-41d4-a716-446655440000")
            - Display name (e.g., "Vercel AI SDK - Core")
            - URL (e.g., "https://docs.trynia.ai/")
      responses:
        '200':
          description: Tree structure retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  tree:
                    type: object
                    description: Nested tree structure of documentation pages
                  tree_string:
                    type: string
                    description: Formatted text representation of the tree
                  base_url:
                    type: string
                    description: Base URL of the documentation
                  page_count:
                    type: integer
                    description: Total number of indexed pages
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          description: Access denied to data source
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Data source not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          $ref: '#/components/responses/RateLimitError'

  /data-sources/{source_id}/ls:
    get:
      summary: List documentation directory contents
      description: |
        List contents of a virtual directory in the documentation.
        Shows files (pages) and subdirectories at the specified path,
        similar to the Unix 'ls' command.
      operationId: listDocumentationDirectory
      tags:
        - Data Sources
      parameters:
        - name: source_id
          in: path
          required: true
          schema:
            type: string
          description: Flexible data source identifier (UUID, display name, or URL)
        - name: path
          in: query
          required: false
          schema:
            type: string
            default: "/"
          description: Virtual path to list (default is root "/")
      responses:
        '200':
          description: Directory contents retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  path:
                    type: string
                    description: The path that was listed
                  directories:
                    type: array
                    items:
                      type: string
                    description: Subdirectories at this path
                  files:
                    type: array
                    items:
                      type: string
                    description: Files (pages) at this path
                  total:
                    type: integer
                    description: Total number of items
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          description: Access denied to data source
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Data source not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          $ref: '#/components/responses/RateLimitError'

  /data-sources/{source_id}/read:
    get:
      summary: Read documentation page content
      description: |
        Read content of a documentation page by its virtual filesystem path.
        More intuitive than remembering URLs - just use the path from doc_tree or doc_ls.
        Supports line range slicing and length truncation for efficient content retrieval.
      operationId: readDocumentationPage
      tags:
        - Data Sources
      parameters:
        - name: source_id
          in: path
          required: true
          schema:
            type: string
          description: Flexible data source identifier (UUID, display name, or URL)
        - name: path
          in: query
          required: true
          schema:
            type: string
          description: Virtual path to the page (e.g., "/api/authentication.md")
        - name: line_start
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
          description: Start line number (1-based, inclusive). Use with line_end for slicing.
        - name: line_end
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
          description: End line number (1-based, inclusive). Use with line_start for slicing.
        - name: max_length
          in: query
          required: false
          schema:
            type: integer
            minimum: 100
            maximum: 100000
          description: Maximum number of characters to return (100-100000). Content will be truncated if exceeded.
      responses:
        '200':
          description: Page content retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  path:
                    type: string
                    description: The virtual path requested
                  url:
                    type: string
                    description: The actual URL of the page
                  content:
                    type: string
                    description: Full or partial content of the documentation page
                  total_lines:
                    type: integer
                    description: Total number of lines in the document
                  returned_lines:
                    type: array
                    items:
                      type: integer
                    minItems: 2
                    maxItems: 2
                    description: "[start_line, end_line] range of returned content"
                  truncated:
                    type: boolean
                    description: Whether content was truncated due to max_length limit
                  metadata:
                    type: object
                    properties:
                      url:
                        type: string
                      source_id:
                        type: string
                      chunks_found:
                        type: integer
                      title:
                        type: string
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          description: Access denied to data source
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Data source or path not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          $ref: '#/components/responses/RateLimitError'

  /data-sources/{source_id}/grep:
    post:
      summary: Search documentation with regex
      description: |
        Search documentation content with a regex pattern.
        Like the Unix 'grep' command, but for indexed documentation.
        Searches through all pages and returns matches with context.
        
        Supports asymmetric context lines (A for after, B for before),
        case sensitivity, whole word matching, and multiple output modes.
      operationId: grepDocumentation
      tags:
        - Data Sources
      parameters:
        - name: source_id
          in: path
          required: true
          schema:
            type: string
          description: Flexible data source identifier (UUID, display name, or URL)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - pattern
              properties:
                pattern:
                  type: string
                  description: Regex pattern to search for
                  example: "authentication.*token"
                path:
                  type: string
                  default: "/"
                  description: Limit search to this virtual path prefix
                context_lines:
                  type: integer
                  minimum: 0
                  maximum: 10
                  description: Lines before AND after each match (shorthand for A/B). Overridden by A or B if specified.
                A:
                  type: integer
                  minimum: 0
                  maximum: 20
                  description: Lines after each match (like grep -A). Overrides context_lines for after.
                B:
                  type: integer
                  minimum: 0
                  maximum: 20
                  description: Lines before each match (like grep -B). Overrides context_lines for before.
                case_sensitive:
                  type: boolean
                  default: false
                  description: Case-sensitive matching (default is case-insensitive)
                whole_word:
                  type: boolean
                  default: false
                  description: Match whole words only
                fixed_string:
                  type: boolean
                  default: false
                  description: Treat pattern as literal string, not regex
                max_matches_per_file:
                  type: integer
                  minimum: 1
                  maximum: 100
                  default: 10
                  description: Maximum matches to return per file
                max_total_matches:
                  type: integer
                  minimum: 1
                  maximum: 1000
                  default: 100
                  description: Maximum total matches to return
                output_mode:
                  type: string
                  enum: [content, files_with_matches, count]
                  default: content
                  description: |
                    Output format:
                    - content: Return matched lines with context
                    - files_with_matches: Return only file paths that matched
                    - count: Return match counts per file
                highlight:
                  type: boolean
                  default: false
                  description: Add >>markers<< around matched text in results
                include_line_numbers:
                  type: boolean
                  default: true
                  description: Include line numbers in results
                group_by_file:
                  type: boolean
                  default: true
                  description: Group matches by file in results
      responses:
        '200':
          description: Search completed successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  matches:
                    type: array
                    description: Matches grouped by file (when output_mode is 'content')
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                          description: Virtual path of the matched file
                        url:
                          type: string
                          description: Actual URL of the page
                        matches:
                          type: array
                          items:
                            type: object
                            properties:
                              line_number:
                                type: integer
                              line:
                                type: string
                                description: The matched line
                              context:
                                type: array
                                items:
                                  type: string
                                description: Context lines around the match
                              context_start_line:
                                type: integer
                  files:
                    type: array
                    items:
                      type: string
                    description: List of file paths (when output_mode is 'files_with_matches')
                  counts:
                    type: object
                    additionalProperties:
                      type: integer
                    description: Match counts per file (when output_mode is 'count')
                  pattern:
                    type: string
                    description: The pattern that was searched
                  path_filter:
                    type: string
                    description: Path filter that was applied
                  total_matches:
                    type: integer
                  files_searched:
                    type: integer
                  files_with_matches:
                    type: integer
                    description: Number of files that contained matches
                  truncated:
                    type: boolean
                    description: Whether results were truncated due to limits
                  options:
                    type: object
                    description: Applied search options
                    properties:
                      case_sensitive:
                        type: boolean
                      whole_word:
                        type: boolean
                      lines_before:
                        type: integer
                      lines_after:
                        type: integer
                      output_mode:
                        type: string
        '400':
          description: Invalid regex pattern
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          description: Access denied to data source
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Data source not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          $ref: '#/components/responses/RateLimitError'

  /data-sources/rename:
    patch:
      summary: Rename a data source (Flexible)
      description: Update the display name of an indexed data source using flexible identifier (recommended)
      operationId: renameDataSource
      tags:
        - Data Sources
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RenameRequestWithIdentifier'
      responses:
        '200':
          description: Data source renamed successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  source_id:
                    type: string
                  display_name:
                    type: string
                  message:
                    type: string
        '400':
          description: Invalid request (e.g., empty name, identifier not found)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          description: Access denied to data source
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Data source not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          $ref: '#/components/responses/RateLimitError'

  /package-search/grep:
    post:
      summary: Search package source code with regex
      description: |
        Execute a grep-style regex search over the source code of a public package.
        This endpoint is useful for deterministically finding specific code patterns in packages
        before implementing solutions that use external dependencies. Supports multiple package
        registries including npm, PyPI, crates.io, and Go modules.
      operationId: packageSearchGrep
      tags:
        - Package Search
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PackageSearchGrepRequest'
      responses:
        '200':
          description: Package search completed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PackageSearchResponse'
        '400':
          description: Invalid request parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '429':
          $ref: '#/components/responses/RateLimitError'
        '500':
          description: Chroma service error or package not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /package-search/hybrid:
    post:
      summary: Search package source code with semantic queries
      description: |
        Execute a hybrid semantic search over package source code using AI understanding
        and optional regex patterns. This allows for natural language queries about how
        packages implement specific features, combined with optional pre-filtering.
      operationId: packageSearchHybrid
      tags:
        - Package Search
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PackageSearchHybridRequest'
      responses:
        '200':
          description: Package search completed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PackageSearchResponse'
        '400':
          description: Invalid request parameters (e.g., too many semantic queries)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '429':
          $ref: '#/components/responses/RateLimitError'
        '500':
          description: Chroma service error or package not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /package-search/read-file:
    post:
      summary: Read specific lines from a package file
      description: |
        Read exact lines from a source file within a public package. This is useful for
        fetching complete file content when you already have the file SHA256 hash
        (typically obtained from grep or hybrid search results). Maximum 200 lines per request.
      operationId: packageSearchReadFile
      tags:
        - Package Search
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PackageSearchReadFileRequest'
      responses:
        '200':
          description: File content retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  version_used:
                    type: string
                    description: Version of the package
                  file_path:
                    type: string
                    description: Path of the file within the package
                  start_line:
                    type: integer
                    description: Starting line number
                  end_line:
                    type: integer
                    description: Ending line number
                  content:
                    type: string
                    description: File content for the specified line range
                  total_lines:
                    type: integer
                    description: Total number of lines in the file
        '400':
          description: Invalid request parameters (e.g., invalid line range)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '429':
          $ref: '#/components/responses/RateLimitError'
        '500':
          description: Chroma service error or file not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /oracle:
    post:
      summary: Oracle autonomous research agent (Pro only)
      description: |
        Execute comprehensive Oracle research using the full autonomous agent with extended thinking.
        
        The Oracle agent uses Claude's extended thinking capabilities to plan and execute multi-step
        research autonomously. It has access to a diverse set of tools including:
        - **Discovery**: list_repositories, list_documentation
        - **Web Research**: run_web_search, web_fetch (server-side)
        - **Code Search**: run_indexed_repo_search, code_grep, get_github_tree, read_source_content
        - **Documentation**: run_doc_search, doc_tree, doc_ls, doc_read, doc_grep
        
        The agent will iteratively search and analyze your indexed repositories and documentation,
        perform web searches for external context, and synthesize findings into a comprehensive report.
        
        **Note**: This is a long-running operation (typically 30-180 seconds). For real-time progress
        updates, use the streaming endpoint `/oracle/stream` instead.
      operationId: oracleResearch
      tags:
        - Oracle Research
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OracleResearchRequest'
      responses:
        '200':
          description: Research completed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OracleResearchResponse'
        '400':
          description: Invalid request parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          description: Pro subscription required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          $ref: '#/components/responses/RateLimitError'
        '500':
          description: Research execution error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /oracle/stream:
    post:
      summary: Oracle research with real-time streaming (Pro only)
      description: |
        Execute Oracle research with Server-Sent Events (SSE) streaming for real-time progress updates.
        
        This endpoint streams research progress including:
        - **iteration_start**: New research iteration beginning
        - **tool_start**: Tool execution starting with action name and reason
        - **tool_complete**: Tool finished with success/failure status
        - **generating_report**: Final report synthesis starting
        - **complete**: Research finished with full result
        - **heartbeat**: Connection keep-alive (every 0.5s during idle)
        - **error**: Error occurred during research
        
        The Oracle agent uses Claude's extended thinking and has access to all tools including
        web search, code search, documentation search, and the new doc filesystem tools
        (doc_tree, doc_ls, doc_read, doc_grep).
      operationId: oracleResearchStream
      tags:
        - Oracle Research
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OracleResearchRequest'
      responses:
        '200':
          description: SSE stream of research progress
          content:
            text/event-stream:
              schema:
                type: string
                description: |
                  Stream of Server-Sent Events with JSON payloads. Event types:
                  - connected: Connection established
                  - iteration_start: {type, iteration, max_iterations}
                  - tool_start: {type, action, args, reason, iteration}
                  - tool_complete: {type, action, success, result_summary, iteration}
                  - generating_report: {type, message}
                  - complete: {type, result: OracleResearchResponse}
                  - error: {type, action, error, iteration}
                  - heartbeat: {type, timestamp}
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          description: Pro subscription required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          $ref: '#/components/responses/RateLimitError'

  /oracle/history:
    get:
      summary: List Oracle research history
      description: List recent Oracle research sessions for the authenticated API key
      operationId: listOracleHistory
      tags:
        - Oracle Research
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
          description: Number of sessions to return
        - name: skip
          in: query
          schema:
            type: integer
            minimum: 0
            maximum: 500
            default: 0
          description: Number of sessions to skip (for pagination)
      responses:
        '200':
          description: Session history retrieved
          content:
            application/json:
              schema:
                type: object
                properties:
                  sessions:
                    type: array
                    items:
                      type: object
                      properties:
                        session_id:
                          type: string
                        query:
                          type: string
                        created_at:
                          type: string
                          format: date-time
                        iterations:
                          type: integer
                        duration_ms:
                          type: integer
                        status:
                          type: string
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  /oracle/history/{session_id}:
    get:
      summary: Get Oracle research session details
      description: Retrieve full details of a specific Oracle research session
      operationId: getOracleSession
      tags:
        - Oracle Research
      parameters:
        - name: session_id
          in: path
          required: true
          schema:
            type: string
          description: Session ID to retrieve
      responses:
        '200':
          description: Session details retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OracleResearchResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          description: Session not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /oracle/jobs:
    post:
      summary: Create Oracle research job (Pro only)
      description: |
        Create a new Oracle research job that runs asynchronously via Hatchet workflow.
        
        This is the recommended way to run Oracle research as it:
        - Queues jobs for reliable execution
        - Supports concurrency limits per user
        - Enables reconnection to running jobs
        - Provides job status tracking and history
        
        After creating a job, subscribe to `/oracle/jobs/{job_id}/stream` for real-time progress.
      operationId: createOracleJob
      tags:
        - Oracle Research
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OracleResearchRequest'
      responses:
        '200':
          description: Job created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  job_id:
                    type: string
                    description: Unique job identifier (Hatchet workflow run ID)
                  session_id:
                    type: string
                    description: Research session identifier
                  status:
                    type: string
                    enum: [queued, running]
                    description: Initial job status
                  message:
                    type: string
                    description: Status message
                  stream_url:
                    type: string
                    description: URL to subscribe for real-time updates
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          description: Pro subscription required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          $ref: '#/components/responses/RateLimitError'
        '500':
          description: Failed to create job
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    get:
      summary: List Oracle research jobs
      description: List Oracle research jobs for the authenticated user with optional status filtering
      operationId: listOracleJobs
      tags:
        - Oracle Research
      parameters:
        - name: status
          in: query
          required: false
          schema:
            type: string
            enum: [queued, running, completed, failed, cancelled]
          description: Filter jobs by status
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
          description: Number of jobs to return
        - name: skip
          in: query
          schema:
            type: integer
            minimum: 0
            default: 0
          description: Number of jobs to skip (for pagination)
      responses:
        '200':
          description: Jobs list retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  jobs:
                    type: array
                    items:
                      type: object
                      properties:
                        job_id:
                          type: string
                        session_id:
                          type: string
                        query:
                          type: string
                        status:
                          type: string
                          enum: [queued, running, completed, failed, cancelled]
                        created_at:
                          type: string
                          format: date-time
                        updated_at:
                          type: string
                          format: date-time
                        iterations:
                          type: integer
                        duration_ms:
                          type: integer
                  total:
                    type: integer
                  has_more:
                    type: boolean
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '429':
          $ref: '#/components/responses/RateLimitError'

  /oracle/jobs/{job_id}:
    get:
      summary: Get Oracle job status and result
      description: |
        Retrieve the current status and result of an Oracle research job.
        
        For completed jobs, includes the full research report and citations.
        For running jobs, shows progress information.
      operationId: getOracleJob
      tags:
        - Oracle Research
      parameters:
        - name: job_id
          in: path
          required: true
          schema:
            type: string
          description: Job identifier (Hatchet workflow run ID)
      responses:
        '200':
          description: Job details retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  job_id:
                    type: string
                  session_id:
                    type: string
                  query:
                    type: string
                  status:
                    type: string
                    enum: [queued, running, completed, failed, cancelled]
                  created_at:
                    type: string
                    format: date-time
                  updated_at:
                    type: string
                    format: date-time
                  completed_at:
                    type: string
                    format: date-time
                  final_report:
                    type: string
                    description: Research report (only for completed jobs)
                  citations:
                    type: array
                    items:
                      type: object
                    description: Source citations (only for completed jobs)
                  tool_calls:
                    type: array
                    items:
                      type: object
                    description: Tool execution log (only for completed jobs)
                  iterations:
                    type: integer
                  duration_ms:
                    type: integer
                  error:
                    type: string
                    description: Error message (only for failed jobs)
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          description: Access denied to this job
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Job not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          $ref: '#/components/responses/RateLimitError'
    delete:
      summary: Cancel Oracle research job
      description: |
        Cancel a running or queued Oracle research job.
        
        Cancellation is best-effort - the job may complete before cancellation takes effect.
        Jobs that are already completed, failed, or cancelled cannot be cancelled again.
      operationId: cancelOracleJob
      tags:
        - Oracle Research
      parameters:
        - name: job_id
          in: path
          required: true
          schema:
            type: string
          description: Job identifier to cancel
      responses:
        '200':
          description: Job cancelled successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  job_id:
                    type: string
                  session_id:
                    type: string
                  status:
                    type: string
                    enum: [cancelled]
                  message:
                    type: string
        '400':
          description: Job cannot be cancelled (already completed/failed/cancelled)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          description: Access denied to this job
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
[...]
