openapi: 3.1.0
info:
  title: Nia AI API
  version: '2.2.0'
  description: |
    Nia AI API provides a single, consistent `sources` resource for all indexed content.

    ## Core Resources

    **Sources** (`/sources`)
    - `repository`
    - `documentation`
    - `research_paper`
    - `huggingface_dataset`
    - `local_folder`

    **Search** (`/search`)
    - `mode`: query | web | deep | universal

    Legacy endpoints are deprecated and will be removed in a future version. Prefer `/sources` and `/search` for new integrations.
  
servers:
  - url: https://apigcp.trynia.ai/v2
    description: Production API
  - url: http://localhost:8000/v2
    description: Local development

security:
  - ApiKeyAuth: []

components:
  securitySchemes:
    ApiKeyAuth:
      type: http
      scheme: bearer
      bearerFormat: API Key
      description: API key must be provided in the Authorization header

  schemas:
    SourceType:
      type: string
      enum: [repository, documentation, research_paper, huggingface_dataset, local_folder]
      description: Unified source type

    Pagination:
      type: object
      required: [total, limit, offset, has_more]
      properties:
        total:
          type: integer
          description: Total number of items
        limit:
          type: integer
          description: Items per page
        offset:
          type: integer
          description: Current offset
        has_more:
          type: boolean
          description: Whether more items exist

    Source:
      type: object
      required: [id, type]
      properties:
        id:
          type: string
          description: Source identifier
        type:
          $ref: '#/components/schemas/SourceType'
        identifier:
          type: string
          description: Canonical identifier (repo slug, URL, or folder path)
        display_name:
          type: string
          description: Human-readable name
        status:
          type: string
          description: Indexing status
        created_at:
          type: string
          description: Creation timestamp (ISO)
        updated_at:
          type: string
          description: Last update timestamp (ISO)
        category_id:
          type: string
          nullable: true
          description: Category assignment
        is_global:
          type: boolean
          description: Whether the source is global/shared
        global_source_id:
          type: string
          nullable: true
          description: Global source ID if applicable
        global_namespace:
          type: string
          nullable: true
          description: Global namespace if applicable
        metadata:
          type: object
          description: Type-specific metadata
          additionalProperties: true

    SourceListResponse:
      type: object
      required: [items, pagination]
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/Source'
        pagination:
          $ref: '#/components/schemas/Pagination'

    LocalFolderFile:
      type: object
      required: [path, content]
      properties:
        path:
          type: string
        content:
          type: string

    DatabaseFile:
      type: object
      required: [filename, content]
      properties:
        filename:
          type: string
        content:
          type: string
          description: Base64-encoded content

    SourceCreateRequest:
      type: object
      required: [type]
      properties:
        type:
          $ref: '#/components/schemas/SourceType'
        repository:
          type: string
          description: Repository slug (owner/repo)
        branch:
          type: string
        ref:
          type: string
          description: Git ref to index (branch, tag, or commit SHA). Takes precedence over branch.
        url:
          type: string
          description: Documentation or dataset URL
        folder_name:
          type: string
        folder_path:
          type: string
        files:
          type: array
          items:
            $ref: '#/components/schemas/LocalFolderFile'
        database:
          $ref: '#/components/schemas/DatabaseFile'
        add_as_global_source:
          type: boolean
          default: true
        url_patterns:
          type: array
          items:
            type: string
        exclude_patterns:
          type: array
          items:
            type: string
        limit:
          type: integer
        max_depth:
          type: integer
        wait_for:
          type: integer
        is_pdf:
          type: boolean
        display_name:
          type: string
        focus_instructions:
          type: string

    SourceUpdateRequest:
      type: object
      properties:
        display_name:
          type: string
        category_id:
          type: string
          nullable: true

    SourceDeleteResponse:
      type: object
      required: [id, status]
      properties:
        id:
          type: string
        status:
          type: string

    SourceResolveResponse:
      type: object
      required: [id, type]
      properties:
        id:
          type: string
        type:
          $ref: '#/components/schemas/SourceType'
        display_name:
          type: string
        identifier:
          type: string

    QuerySearchRequest:
      allOf:
        - $ref: '#/components/schemas/QueryRequest'
        - type: object
          required: [mode]
          properties:
            mode:
              type: string
              enum: [query]

    WebSearchRequestWithMode:
      allOf:
        - $ref: '#/components/schemas/WebSearchRequest'
        - type: object
          required: [mode]
          properties:
            mode:
              type: string
              enum: [web]

    DeepResearchRequestWithMode:
      allOf:
        - $ref: '#/components/schemas/DeepResearchRequest'
        - type: object
          required: [mode]
          properties:
            mode:
              type: string
              enum: [deep]

    UniversalSearchRequestWithMode:
      allOf:
        - $ref: '#/components/schemas/UniversalSearchRequest'
        - type: object
          required: [mode]
          properties:
            mode:
              type: string
              enum: [universal]

    SearchRequest:
      oneOf:
        - $ref: '#/components/schemas/QuerySearchRequest'
        - $ref: '#/components/schemas/WebSearchRequestWithMode'
        - $ref: '#/components/schemas/DeepResearchRequestWithMode'
        - $ref: '#/components/schemas/UniversalSearchRequestWithMode'
      discriminator:
        propertyName: mode
        mapping:
          query: '#/components/schemas/QuerySearchRequest'
          web: '#/components/schemas/WebSearchRequestWithMode'
          deep: '#/components/schemas/DeepResearchRequestWithMode'
          universal: '#/components/schemas/UniversalSearchRequestWithMode'
    RepositoryRequest:
      type: object
      required:
        - repository
      properties:
        repository:
          type: string
          description: Repository identifier in owner/repo format or full GitHub URL (supports folder paths like owner/repo/tree/branch/folder)
          example: "microsoft/vscode"
        branch:
          type: string
          description: Branch to index (defaults to repository's default branch)
          example: "main"
        ref:
          type: string
          description: Git ref to index (branch, tag, or commit SHA). Takes precedence over branch.
          example: "v1.2.3"

    QueryRequest:
      type: object
      required:
        - messages
      properties:
        messages:
          type: array
          items:
            type: object
            required:
              - role
              - content
            properties:
              role:
                type: string
                enum: [user, assistant]
              content:
                type: string
          description: Chat messages for context and query
          example:
            - role: user
              content: "How does the error handling work in this codebase?"
        repositories:
          type: array
          items:
            type: object
            required:
              - repository
            properties:
              repository:
                type: string
                description: Repository identifier in owner/repo format or owner/repo/tree/branch/folder for folder-indexed repos
          description: List of repositories to query
        data_sources:
          type: array
          items:
            oneOf:
              - type: string
                description: |
                  Flexible data source identifier (recommended). Can be:
                  - UUID (e.g., "550e8400-e29b-41d4-a716-446655440000")
                  - Display name (e.g., "Vercel AI SDK - Core", "openai/gsm8k")
                  - URL (e.g., "https://docs.trynia.ai/", "https://arxiv.org/abs/2312.00752")
              - type: object
                required:
                  - source_id
                properties:
                  source_id:
                    type: string
                    description: Data source UUID identifier (legacy format)
              - type: object
                required:
                  - identifier
                properties:
                  identifier:
                    type: string
                    description: Flexible data source identifier
          description: |
            List of data sources to query. **Supports all source types:**
            - Documentation/websites
            - Research papers (arXiv)
            - HuggingFace datasets

            Flexible identifier formats:
            - String (recommended): ["Vercel AI SDK - Core", "openai/gsm8k", "https://arxiv.org/abs/2312.00752"]
            - Legacy object: [{"source_id": "uuid"}]
            - New object: [{"identifier": "display-name-or-url"}]
        search_mode:
          type: string
          enum: [repositories, sources, unified]
          default: unified
          description: |
            Search mode:
            - 'unified': Smart routing based on provided sources (default)
            - 'repositories': Search GitHub repositories only
            - 'sources': Search data sources only (documentation, research papers, HuggingFace datasets, local folders)
        stream:
          type: boolean
          default: false
          description: Whether to stream the response
        include_sources:
          type: boolean
          default: true
          description: Whether to include full source texts in the response (when false, only file paths are returned)
        local_folders:
          type: array
          items:
            oneOf:
              - type: string
                description: Local folder identifier (UUID or display name)
              - type: object
                required:
                  - local_folder_id
                properties:
                  local_folder_id:
                    type: string
                    description: Local folder UUID identifier
              - type: object
                required:
                  - identifier
                properties:
                  identifier:
                    type: string
                    description: Flexible local folder identifier (display name or UUID)
          description: |
            List of local folders to query. Local folders are private and user-scoped.

            Flexible identifier formats:
            - String (recommended): ["folder-uuid", "My Notes"]
            - Object: [{"local_folder_id": "uuid"}] or [{"identifier": "display-name"}]
        category:
          type: string
          description: Filter local folder results by classification category (e.g., "Work", "Personal")

    RepositoryStatus:
      type: object
      required:
        - repository
        - branch
        - status
      properties:
        repository:
          type: string
          description: Repository identifier
        branch:
          type: string
          description: Branch being indexed
        status:
          type: string
          enum: [indexing, completed, indexed, error]
          description: Current indexing status
        progress:
          type: object
          description: Detailed progress information
          properties:
            percentage:
              type: number
              description: Progress percentage (0-100)
            stage:
              type: string
              description: Current stage of indexing
            message:
              type: string
              description: Progress message
        error:
          type: string
          description: Error message if status is 'error'

    RepositoryListItem:
      type: object
      properties:
        repository_id:
          type: string
          description: Unique identifier for the repository
        id:
          type: string
          description: Internal project ID for graph visualization
        repository:
          type: string
          description: Repository identifier in owner/repo format
        branch:
          type: string
          description: Indexed branch
        status:
          type: string
          enum: [indexing, indexed, completed, error]
        display_name:
          type: string
          description: Custom display name for the repository
        progress:
          type: object
          properties:
            percentage:
              type: number
            stage:
              type: string
            message:
              type: string
        error:
          type: string
          description: Error message if status is 'error'

    RenameRequest:
      type: object
      required:
        - new_name
      properties:
        new_name:
          type: string
          minLength: 1
          maxLength: 100
          description: New display name for the resource

    RenameRequestWithIdentifier:
      type: object
      required:
        - identifier
        - new_name
      properties:
        identifier:
          type: string
          description: |
            Flexible data source identifier. Can be:
            - UUID (e.g., "550e8400-e29b-41d4-a716-446655440000")
            - Display name (e.g., "Vercel AI SDK - Core")
            - URL (e.g., "https://docs.trynia.ai/")
        new_name:
          type: string
          minLength: 1
          maxLength: 100
          description: New display name for the resource

    WebSearchRequest:
      type: object
      required:
        - query
      properties:
        query:
          type: string
          description: Search query
          example: "best practices for React hooks"
        num_results:
          type: integer
          minimum: 1
          maximum: 10
          default: 5
          description: Number of results to return
        category:
          type: string
          enum: [github, company, research, news, tweet, pdf, blog]
          description: Filter by content category
        days_back:
          type: integer
          description: Only show results from last N days
        find_similar_to:
          type: string
          format: uri
          description: URL to find similar content to

    WebSearchResponse:
      type: object
      properties:
        github_repos:
          type: array
          items:
            type: object
            properties:
              url:
                type: string
              owner_repo:
                type: string
              title:
                type: string
              summary:
                type: string
              highlights:
                type: array
                items:
                  type: string
              published_date:
                type: string
        documentation:
          type: array
          items:
            type: object
            properties:
              url:
                type: string
              title:
                type: string
              summary:
                type: string
              highlights:
                type: array
                items:
                  type: string
        other_content:
          type: array
          items:
            type: object
            properties:
              url:
                type: string
              title:
                type: string
              summary:
                type: string
        total_results:
          type: integer

    DeepResearchRequest:
      type: object
      required:
        - query
      properties:
        query:
          type: string
          description: Research question for deep analysis
          example: "Compare the top 3 state management solutions for React with pros and cons"
        output_format:
          type: string
          description: Optional structure hint for the output (e.g., 'comparison table', 'pros and cons list')
        verbose:
          type: boolean
          default: false
          description: Include verbose trace output

    DeepResearchResponse:
      type: object
      properties:
        data:
          type: object
          description: Structured research data based on the query
        citations:
          type: array
          items:
            type: object
            properties:
              url:
                type: string
              title:
                type: string
              snippet:
                type: string
          description: Sources cited in the research
        status:
          type: string
          enum: [completed, failed]
        trace:
          type: array
          description: Verbose trace events
          items:
            type: object

    UniversalSearchRequest:
      type: object
      required:
        - query
      properties:
        query:
          type: string
          description: Natural language search query
          example: "How does authentication work in FastAPI?"
        top_k:
          type: integer
          minimum: 1
          maximum: 100
          default: 20
          description: Total number of results to return
        include_repos:
          type: boolean
          default: true
          description: Include repository sources in search
        include_docs:
          type: boolean
          default: true
          description: Include documentation sources in search
        include_huggingface_datasets:
          type: boolean
          default: false
          description: Include HuggingFace dataset sources in search (excluded by default to prevent search pollution)
        alpha:
          type: number
          minimum: 0.0
          maximum: 1.0
          default: 0.7
          description: Weight for vector search (1-alpha for BM25). Higher values favor semantic similarity.
        compress_output:
          type: boolean
          default: false
          description: Use AI to compress results into a concise answer with citations
        max_tokens:
          type: integer
          minimum: 100
          maximum: 100000
          nullable: true
          description: Maximum tokens in response. Results truncated when budget reached.
        boost_source_types:
          type: object
          additionalProperties:
            type: number
          default:
            repository: 1.2
            documentation: 1.0
            research_paper: 0.9
            huggingface_dataset: 0.85
          description: Source type boosts (override to customize or set {} to disable)
        boost_languages:
          type: array
          items:
            type: string
          nullable: true
          description: Programming languages to boost (e.g., ['python', 'typescript'])
        language_boost_factor:
          type: number
          minimum: 1.0
          maximum: 5.0
          default: 1.5
          description: Boost multiplier for preferred languages
        use_native_boosting:
          type: boolean
          default: true
          description: Use TurboPuffer FTS v2 native Sum/Product boosting
        expand_symbols:
          type: boolean
          default: false
          description: Extract function/class names from results and search for usages (cAST-inspired symbol expansion)

    UniversalSearchResponse:
      type: object
      properties:
        results:
          type: array
          items:
            type: object
            properties:
              content:
                type: string
                description: Text content of the search result
              summary:
                type: string
                nullable: true
                description: Extractive summary of the chunk (REFRAG-inspired)
              score:
                type: number
                description: Relevance score (higher is better)
              confidence:
                type: number
                minimum: 0
                maximum: 1
                description: Normalized confidence score 0-1
              source:
                type: object
                properties:
                  type:
                    type: string
                    enum: [repository, documentation, research_paper, huggingface_dataset]
                    description: Type of source
                  url:
                    type: string
                    description: URL of the source
                  namespace:
                    type: string
                    description: Namespace identifier
                  file_path:
                    type: string
                    description: File path within the source (if applicable)
                  display_name:
                    type: string
                    description: Human-readable name of the source
        sources_searched:
          type: integer
          description: Number of source namespaces searched
        query_time_ms:
          type: integer
          description: Total query time in milliseconds
        errors:
          type: array
          items:
            type: string
          nullable: true
          description: Any errors encountered during search
        answer:
          type: string
          nullable: true
          description: AI-compressed answer (only when compress_output=true)
        token_metadata:
          $ref: '#/components/schemas/TokenMetadata'

    UsageSummaryResponse:
      type: object
      properties:
        user_id:
          type: string
          description: User identifier
        organization_id:
          type: string
          nullable: true
          description: Organization identifier (if applicable)
        subscription_tier:
          type: string
          enum: [free, pro, enterprise]
          description: Current subscription tier
        billing_period_start:
          type: string
          format: date-time
          description: Start of current billing period
        billing_period_end:
          type: string
          format: date-time
          description: End of current billing period
        usage:
          type: object
          additionalProperties:
            type: object
            properties:
              used:
                type: integer
                description: Number of operations used this period
              limit:
                type: integer
                description: Maximum allowed operations (0 if unlimited)
              unlimited:
                type: boolean
                description: Whether this operation type is unlimited
          description: Usage breakdown by operation type

    SourceContentRequest:
      type: object
      required:
        - source_type
        - source_identifier
      properties:
        source_type:
          type: string
          enum: [repository, documentation]
          description: Type of source to retrieve
        source_identifier:
          type: string
          description: |
            Identifier for the source:
            - For repositories: 'owner/repo:path/to/file' (e.g., 'facebook/react:src/React.js')
            - For documentation: The source URL
        metadata:
          type: object
          additionalProperties: true
          description: Optional metadata from search results to help locate the source

    SourceContentResponse:
      type: object
      properties:
        success:
          type: boolean
        content:
          type: string
          description: Full content of the source file or document
        metadata:
          type: object
          properties:
            repository:
              type: string
            file_path:
              type: string
            branch:
              type: string
            language:
              type: string
            url:
              type: string
            title:
              type: string
            source_type:
              type: string
        error:
          type: string
          description: Error message if retrieval failed

    PackageSearchGrepRequest:
      type: object
      required:
        - registry
        - package_name
        - pattern
      properties:
        registry:
          type: string
          enum: [crates_io, golang_proxy, npm, py_pi]
          description: Package registry to search
          example: "npm"
        package_name:
          type: string
          description: Name of the package to search
          example: "react"
        pattern:
          type: string
          description: Regex pattern to search for in the package source code
          example: "useState|useEffect"
        version:
          type: string
          description: Specific version to search (optional, defaults to latest)
          example: "18.2.0"
        language:
          type: string
          description: Language filter for search results
          example: "TypeScript"
        filename_sha256:
          type: string
          description: SHA256 hash of specific file to search in
        a:
          type: integer
          description: Number of lines after each match to include
        b:
          type: integer
          description: Number of lines before each match to include
        c:
          type: integer
          description: Number of lines before and after each match to include
        head_limit:
          type: integer
          description: Maximum number of results to return
          example: 10
        output_mode:
          type: string
          enum: [content, files_with_matches, count]
          default: content
          description: Format of the output results

    PackageSearchHybridRequest:
      type: object
      required:
        - registry
        - package_name
        - semantic_queries
      properties:
        registry:
          type: string
          enum: [crates_io, golang_proxy, npm, py_pi]
          description: Package registry to search
          example: "npm"
        package_name:
          type: string
          description: Name of the package to search
          example: "react"
        semantic_queries:
          type: array
          items:
            type: string
          minItems: 1
          maxItems: 5
          description: 1-5 semantic queries about the codebase
          example: ["How does React handle state updates?", "What are the main hooks available?"]
        version:
          type: string
          description: Specific version to search (optional, defaults to latest)
          example: "18.2.0"
        filename_sha256:
          type: string
          description: SHA256 hash of specific file to search in
        pattern:
          type: string
          description: Optional regex pattern for pre-filtering results
        language:
          type: string
          description: Language filter for search results
          example: "TypeScript"

    PackageSearchReadFileRequest:
      type: object
      required:
        - registry
        - package_name
        - filename_sha256
        - start_line
        - end_line
      properties:
        registry:
          type: string
          enum: [crates_io, golang_proxy, npm, py_pi]
          description: Package registry containing the file
          example: "npm"
        package_name:
          type: string
          description: Name of the package containing the file
          example: "react"
        filename_sha256:
          type: string
          description: SHA256 hash of the file to read (obtained from grep/hybrid search)
          example: "a1b2c3d4e5f6..."
        start_line:
          type: integer
          minimum: 1
          description: Starting line number (1-based, inclusive)
          example: 1
        end_line:
          type: integer
          minimum: 1
          description: Ending line number (1-based, inclusive)
          example: 100
        version:
          type: string
          description: Specific version of the package (optional, defaults to latest)
          example: "18.2.0"

    PackageSearchResponse:
      type: object
      description: Raw response from Chroma Package Search API
      properties:
        version_used:
          type: string
          description: Version of the package that was searched
          example: "18.2.0"
        results:
          type: array
          description: Search results from the package
          items:
            type: object
            description: Search result item (format varies by search type)
        truncation_message:
          type: string
          description: Message indicating if results were truncated

    DataSourceRequest:
      type: object
      required:
        - url
      properties:
        url:
          type: string
          format: uri
          description: URL to index (documentation or website)
          example: "https://docs.example.com"
        url_patterns:
          type: array
          items:
            type: string
          description: URL patterns to include in crawling (supports wildcards)
          example: ["https://docs.example.com/api/*", "https://docs.example.com/guides/*"]
        exclude_patterns:
          type: array
          items:
            type: string
          description: URL patterns to exclude from crawling
          example: ["/blog/*", "/changelog/*"]
        project_id:
          type: string
          description: Optional project ID to associate with
        max_age:
          type: integer
          description: Maximum age of cached content in seconds (for fast scraping)
        formats:
          type: array
          items:
            type: string
          description: Content formats to return
          example: ["markdown", "html"]
        only_main_content:
          type: boolean
          default: false
          description: Extract only main content (False recommended for JS-heavy/SPA sites)
        limit:
          type: integer
          default: 10000
          description: Maximum number of pages to crawl
        max_depth:
          type: integer
          default: 20
          description: Maximum crawl depth
        crawl_entire_domain:
          type: boolean
          default: true
          description: Whether to crawl the entire domain
        wait_for:
          type: integer
          default: 2000
          description: Time to wait for page to load in milliseconds
        include_screenshot:
          type: boolean
          default: true
          description: Include full page screenshot
        check_llms_txt:
          type: boolean
          default: true
          description: Check for llms.txt file for curated documentation URLs
        llms_txt_strategy:
          type: string
          enum: [prefer, only, ignore]
          default: prefer
          description: |
            How to use llms.txt if found:
            - prefer: Start with llms.txt URLs, then crawl additional pages if under limit
            - only: Only index URLs listed in llms.txt
            - ignore: Skip llms.txt check (traditional behavior)
        display_name:
          type: string
          description: Custom display name for the source
        is_pdf:
          type: boolean
          default: false
          description: Whether this is a direct PDF URL (disables crawling, uses longer timeout)
        focus_instructions:
          type: string
          maxLength: 500
          description: |
            Natural language instructions for what section to index.
            Finds the matching section root URL and indexes all pages under it.
            Example: "Only API reference" indexes /docs/api-reference/* instead of entire site.
        extract_branding:
          type: boolean
          default: false
          description: Extract brand identity and design system (colors, logos, fonts) from the page
        extract_images:
          type: boolean
          default: false
          description: Extract all image URLs from the page

    DataSourceResponse:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for the data source
        url:
          type: string
          description: The indexed URL
        file_name:
          type: string
          description: File name for text sources
        status:
          type: string
          enum: [pending, processing, completed, failed, error]
          description: Current indexing status
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        page_count:
          type: integer
          default: 0
          description: Number of pages indexed
        chunk_count:
          type: integer
          default: 0
          description: Number of chunks/embeddings created
        project_id:
          type: string
          description: Associated project ID if any
        source_type:
          type: string
          enum: [web, documentation, research_paper, text]
          default: web
        is_active:
          type: boolean
          default: true
        display_name:
          type: string
          description: Custom display name for the data source
        arxiv_id:
          type: string
          nullable: true
          description: arXiv identifier when source_type is research_paper
        paper_source:
          type: string
          nullable: true
          description: Research paper source provider (e.g. arxiv)
        metadata:
          type: object
          nullable: true
          additionalProperties: true
          description: |
            Optional lightweight metadata. For research_paper sources this may include title/authors/etc.
            For other source types this may be omitted.
        error:
          type: string
          description: Error message if status is 'error' or 'failed'
        error_code:
          type: string
          description: Error code for programmatic error handling
        category_id:
          type: string
          nullable: true
          description: Optional category ID for organizing data sources

    CategoryCreate:
      type: object
      required:
        - name
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 50
          description: Category name
          example: "ML Papers"
        color:
          type: string
          maxLength: 7
          description: Hex color code (e.g., #FF5733)
          example: "#4CAF50"
        order:
          type: integer
          minimum: 0
          description: Display order for sorting categories

    CategoryUpdate:
      type: object
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 50
          description: Category name
        color:
          type: string
          maxLength: 7
          description: Hex color code (e.g., #FF5733)
        order:
          type: integer
          minimum: 0
          description: Display order for sorting categories

    CategoryResponse:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for the category
        name:
          type: string
          description: Category name
        user_id:
          type: string
          description: Owner user ID
        organization_id:
          type: string
          nullable: true
          description: Organization ID if category belongs to an organization
        color:
          type: string
          nullable: true
          description: Hex color code
        order:
          type: integer
          description: Display order
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    CategoriesListResponse:
      type: object
      properties:
        categories:
          type: array
          items:
            $ref: '#/components/schemas/CategoryResponse'
        total:
          type: integer
          description: Total number of categories

    CategoryAssignRequest:
      type: object
      properties:
        category_id:
          type: string
          nullable: true
          description: Category ID to assign, or null to remove category

    ResearchPaperRequest:
      type: object
      required:
        - url
      properties:
        url:
          type: string
          description: |
            arXiv URL or raw ID. Supports multiple formats:
            - Full URL: https://arxiv.org/abs/2312.00752
            - PDF URL: https://arxiv.org/pdf/2312.00752.pdf
            - Raw new-format ID: 2312.00752
            - Raw old-format ID: hep-th/9901001
            - With version: 2312.00752v1
          example: "2312.00752"

    ResearchPaperResponse:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for the data source
        arxiv_id:
          type: string
          description: The arXiv identifier (e.g., "2312.00752")
        title:
          type: string
          description: Paper title extracted from arXiv
        authors:
          type: array
          items:
            type: string
          description: List of paper authors
        abstract:
          type: string
          description: Paper abstract
        categories:
          type: array
          items:
            type: string
          description: arXiv categories (e.g., ["cs.CL", "cs.AI"])
        primary_category:
          type: string
          description: Primary arXiv category
        status:
          type: string
          enum: [pending, processing, completed, failed, error]
          description: Current indexing status (aligned with DataSourceResponse)
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        chunk_count:
          type: integer
          default: 0
          description: Number of text chunks created from the paper
        doi:
          type: string
          nullable: true
          description: DOI if available
        published_date:
          type: string
          nullable: true
          description: Publication date from arXiv
        pdf_url:
          type: string
          description: Direct URL to the PDF
        abs_url:
          type: string
          description: URL to the arXiv abstract page
        error:
          type: string
          nullable: true
          description: Error message if status is 'failed'

    HuggingFaceDatasetRequest:
      type: object
      required:
        - url
      properties:
        url:
          type: string
          description: |
            HuggingFace dataset URL or identifier. Supports multiple formats:
            - Full URL: https://huggingface.co/datasets/squad
            - Owner/dataset: dair-ai/emotion
            - Dataset name: squad
          example: "dair-ai/emotion"
        config:
          type: string
          nullable: true
          description: Dataset configuration name (for multi-config datasets)
        add_as_global_source:
          type: boolean
          default: true
          description: Add to global shared pool (default true). Set false for private indexing.

    HuggingFaceDatasetResponse:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for the data source
        dataset_id:
          type: string
          description: Dataset identifier (e.g., "squad", "emotion")
        url:
          type: string
          description: Canonical HuggingFace dataset URL
        status:
          type: string
          enum: [pending, processing, completed, failed, error]
          description: Current indexing status
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        owner:
          type: string
          nullable: true
          description: Dataset owner/organization
        description:
          type: string
          nullable: true
          description: Dataset description
        splits:
          type: array
          items:
            type: string
          description: Available dataset splits (e.g., ["train", "test", "validation"])
        columns:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
              dtype:
                type: string
          description: Dataset columns with names and data types
        row_count:
          type: integer
          default: 0
          description: Total number of rows in the dataset
        indexed_row_count:
          type: integer
          default: 0
          description: Number of rows actually indexed (may differ due to sampling)
        chunk_count:
          type: integer
          default: 0
          description: Number of text chunks created
        sampling_strategy:
          type: string
          nullable: true
          description: Sampling strategy used (full or sampled)
        license:
          type: string
          nullable: true
          description: Dataset license
        error:
          type: string
          nullable: true
          description: Error message if status is 'failed'

    HuggingFaceDatasetListItem:
      type: object
      properties:
        id:
          type: string
        dataset_id:
          type: string
          nullable: true
        url:
          type: string
          nullable: true
        status:
          type: string
        source_type:
          type: string
          default: huggingface_dataset
        is_active:
          type: boolean
          default: true
        created_at:
          type: string
          format: date-time
          nullable: true
        updated_at:
          type: string
          format: date-time
          nullable: true
        chunk_count:
          type: integer
          nullable: true
        display_name:
          type: string
          nullable: true
        owner:
          type: string
          nullable: true
        description:
          type: string
          nullable: true
        splits:
          type: array
          items:
            type: string
          nullable: true
        row_count:
          type: integer
          nullable: true
        indexed_row_count:
          type: integer
          nullable: true
        sampling_strategy:
          type: string
          nullable: true
        error:
          type: string
          nullable: true

    HuggingFaceDatasetListResponse:
      type: object
      properties:
        datasets:
          type: array
          items:
            $ref: '#/components/schemas/HuggingFaceDatasetListItem'
        total:
          type: integer
        limit:
          type: integer
        offset:
          type: integer

    GlobalSourceSubscribeRequest:
      type: object
      required:
        - url
      properties:
        url:
          type: string
          description: |
            URL of the source to subscribe to. Supports:
            - GitHub repository: https://github.com/owner/repo
            - Documentation: https://docs.example.com
            - arXiv paper: https://arxiv.org/abs/2312.00752 or 2312.00752
            - HuggingFace dataset: https://huggingface.co/datasets/squad or squad
          example: "https://github.com/vercel/ai-sdk"
        source_type:
          type: string
          enum: [repository, documentation, research_paper, huggingface_dataset]
          description: Source type. Auto-detected from URL if not provided.
        ref:
          type: string
          description: Git ref for repositories (branch, tag, or commit SHA).

    GlobalSourceSubscribeResponse:
      type: object
      properties:
        action:
          type: string
          enum: [instant_access, wait_for_indexing, not_indexed, use_private, indexing_started]
          description: |
            Action taken:
            - instant_access: Source is indexed and ready for immediate use
            - wait_for_indexing: Source is being indexed, you've been subscribed
            - not_indexed: Source is not indexed, use the index endpoint instead
            - use_private: You have a private index of this source
            - indexing_started: Indexing has been triggered (HuggingFace datasets)
        message:
          type: string
          description: Human-readable description of the action
        global_source_id:
          type: string
          nullable: true
          description: Canonical ID of the global source
        namespace:
          type: string
          nullable: true
          description: TurboPuffer namespace for the source
        status:
          type: string
          nullable: true
          description: Current status of the global source (indexed, indexing, pending, failed)
        local_reference_id:
          type: string
          nullable: true
          description: ID of the created local reference (project or data_source)
        display_name:
          type: string
          nullable: true
          description: Display name of the source

    GitHubTreeRequest:
      type: object
      required:
        - repository_id
      properties:
        repository_id:
          type: string
          description: Repository identifier (owner/repo format)
        branch:
          type: string
          description: Branch name (optional, defaults to repository's default branch)
        include_paths:
          type: array
          items:
            type: string
          description: Only show files in these paths (e.g., ["src/", "lib/"])
        exclude_paths:
          type: array
          items:
            type: string
          description: Hide files in these paths (e.g., ["node_modules/", "dist/"])
        file_extensions:
          type: array
          items:
            type: string
          description: Only show these file types (e.g., [".py", ".js", ".ts"])
        exclude_extensions:
          type: array
          items:
            type: string
          description: Hide these file types (e.g., [".md", ".lock", ".json"])
        show_full_paths:
          type: boolean
          default: false
          description: Show full paths instead of tree structure

    GitHubTreeResponse:
      type: object
      properties:
        repository:
          type: string
          description: Repository identifier
        branch:
          type: string
          description: Branch name
        tree:
          type: array
          items:
            type: object
            properties:
              path:
                type: string
              type:
                type: string
                enum: [file, tree]
              sha:
                type: string
        stats:
          type: object
          properties:
            total_files:
              type: integer
            total_directories:
              type: integer
        formatted_tree:
          type: string
          description: Text representation of the tree structure

    RegexSearchRequest:
      type: object
      required:
        - repositories
        - query
      properties:
        repositories:
          type: array
          items:
            type: string
          description: List of repositories to search (owner/repo format)
          example: ["facebook/react", "vercel/next.js"]
        query:
          type: string
          description: Natural language query or regex pattern
          example: "function handleSubmit"
        pattern:
          type: string
          description: Optional explicit regex pattern (overrides automatic extraction from query)
          example: "async\\s+function\\s+\\w+"
        file_extensions:
          type: array
          items:
            type: string
          description: File extensions to filter (e.g., [".js", ".tsx", ".py"])
        languages:
          type: array
          items:
            type: string
          description: Programming languages to filter (e.g., ["python", "javascript", "typescript"])
        max_results:
          type: integer
          default: 50
          minimum: 1
          maximum: 200
          description: Maximum number of results to return
        include_context:
          type: boolean
          default: true
          description: Include surrounding context lines
        context_lines:
          type: integer
          default: 3
          minimum: 0
          maximum: 10
          description: Number of context lines before/after match

    RegexSearchResponse:
      type: object
      properties:
        query:
          type: string
          description: The search query used
        pattern_used:
          type: string
          description: The regex pattern that was executed
        total_matches:
          type: integer
          description: Total number of matches found
        repositories_searched:
          type: array
          items:
            type: string
          description: Repositories that were searched
        results:
          type: array
          items:
            type: object
            properties:
              repository:
                type: string
              file_path:
                type: string
              line_number:
                type: integer
              matched_line:
                type: string
              context_before:
                type: array
                items:
                  type: string
              context_after:
                type: array
                items:
                  type: string
              language:
                type: string
        truncated:
          type: boolean
          description: Whether results were truncated due to max_results limit

    CodeGrepRequest:
      type: object
      required:
        - pattern
      properties:
        pattern:
          type: string
          description: Regex pattern to search for in repository code
          example: "async function\\s+\\w+"
        path:
          type: string
          default: ""
          description: Limit search to files with this path prefix
          example: "src/"
        ref:
          type: string
          description: Git ref to target (branch, tag, or commit). Useful when multiple versions are indexed.
        context_lines:
          type: integer
          minimum: 0
          maximum: 10
          description: Lines before AND after each match (shorthand for A/B). Overridden by A or B if specified.
        A:
          type: integer
          minimum: 0
          maximum: 20
          description: Lines after each match (like grep -A). Overrides context_lines for after.
        B:
          type: integer
          minimum: 0
          maximum: 20
          description: Lines before each match (like grep -B). Overrides context_lines for before.
        case_sensitive:
          type: boolean
          default: false
          description: Case-sensitive matching (default is case-insensitive)
        whole_word:
          type: boolean
          default: false
          description: Match whole words only
        fixed_string:
          type: boolean
          default: false
          description: Treat pattern as literal string, not regex
        max_matches_per_file:
          type: integer
          minimum: 1
          maximum: 100
          default: 10
          description: Maximum matches to return per file
        max_total_matches:
          type: integer
          minimum: 1
          maximum: 1000
          default: 100
          description: Maximum total matches to return
        output_mode:
          type: string
          enum: [content, files_with_matches, count]
          default: content
          description: |
            Output format:
            - content: Return matched lines with context (grouped by file)
            - files_with_matches: Return only file paths that matched
            - count: Return match counts per file
        highlight:
          type: boolean
          default: false
          description: Add >>markers<< around matched text in results
        include_line_numbers:
          type: boolean
          default: true
          description: Include line numbers in results
        group_by_file:
          type: boolean
          default: true
          description: Group matches by file in results
        exhaustive:
          type: boolean
          default: true
          description: |
            Search ALL chunks for complete results (default: true).
            When true, iterates through all indexed chunks to find every match (like real grep).
            When false, uses BM25 keyword search to find top candidates first (faster but may miss matches).
            Automatically enabled when pattern has no extractable keywords.

    CodeGrepResponse:
      type: object
      properties:
        success:
          type: boolean
        matches:
          oneOf:
            - type: object
              additionalProperties:
                type: array
                items:
                  type: object
                  properties:
                    line_number:
                      type: integer
                    line:
                      type: string
                    context:
                      type: string
              description: Matches grouped by file path (when group_by_file is true)
            - type: array
              items:
                type: object
                properties:
                  path:
                    type: string
                  line_number:
                    type: integer
                  line:
                    type: string
                  context:
                    type: string
              description: Flat list of matches (when group_by_file is false)
        files:
          type: array
          items:
            type: string
          description: List of file paths (when output_mode is 'files_with_matches')
        counts:
          type: object
          additionalProperties:
            type: integer
          description: Match counts per file (when output_mode is 'count')
        pattern:
          type: string
          description: The regex pattern that was searched
        path_filter:
          type: string
          description: Path filter that was applied
        total_matches:
          type: integer
          description: Total number of matches found
        files_searched:
          type: integer
          description: Number of code chunks searched
        files_with_matches:
          type: integer
          description: Number of files that contained matches
        truncated:
          type: boolean
          description: Whether results were truncated due to limits
        options:
          type: object
          description: Applied search options
          properties:
            case_sensitive:
              type: boolean
            lines_before:
              type: integer
            lines_after:
              type: integer
            output_mode:
              type: string

    NiaReferences:
      type: object
      description: References to NIA resources used during the conversation
      properties:
        indexed_repositories:
          type: array
          items:
            type: string
          description: List of repository identifiers that were indexed
        indexed_documentation:
          type: array
          items:
            type: string
          description: List of documentation source identifiers
        queried_repositories:
          type: array
          items:
            type: string
          description: Repositories that were queried
        queried_documentation:
          type: array
          items:
            type: string
          description: Documentation sources that were queried
        web_searches:
          type: array
          items:
            type: string
          description: Web search queries performed
        deep_research_queries:
          type: array
          items:
            type: string
          description: Deep research queries performed

    EditedFile:
      type: object
      required:
        - file_path
      properties:
        file_path:
          type: string
          description: Path to the edited file
        operation:
          type: string
          enum: [created, modified, deleted]
          description: Type of operation performed on the file
        lines_added:
          type: integer
          description: Number of lines added (for created/modified operations)
        lines_removed:
          type: integer
          description: Number of lines removed (for modified/deleted operations)
        language:
          type: string
          description: Programming language of the file

    MemoryType:
      type: string
      enum: [scratchpad, episodic, fact, procedural]
      description: |
        Memory taxonomy type:
        - scratchpad: Temporary working memory (1hr TTL)
        - episodic: Session summaries (7d TTL)
        - fact: Atomic factual statements (permanent)
        - procedural: Tool/function definitions (permanent)

    LineageInput:
      type: object
      description: Provenance tracking input for content artifacts
      properties:
        source_ids:
          type: array
          items:
            type: string
          description: Source identifiers (e.g., 'repo:owner/repo', 'doc:name')
        confidence:
          type: number
          minimum: 0
          maximum: 1
          description: Confidence score 0-1
        derived_from:
          type: array
          items:
            type: string
          nullable: true
          description: Parent context IDs if derived
        tool_calls:
          type: array
          items:
            type: string
          nullable: true
          description: Tools used to create this artifact
        model_version:
          type: string
          nullable: true
          description: Model version that created this

    LineageMetadata:
      type: object
      description: Provenance tracking metadata for content artifacts
      properties:
        created_at:
          type: string
          format: date-time
          description: When this artifact was created
        source_ids:
          type: array
          items:
            type: string
          description: Source identifiers (e.g., 'repo:owner/repo', 'doc:name')
        confidence:
          type: number
          minimum: 0
          maximum: 1
          nullable: true
          description: Confidence score 0-1
        derived_from:
          type: array
          items:
            type: string
          nullable: true
          description: Parent context IDs if derived
        tool_calls:
          type: array
          items:
            type: string
          nullable: true
          description: Tools used to create this artifact
        model_version:
          type: string
          nullable: true
          description: Model version that created this

    TokenMetadata:
      type: object
      description: Token budget metadata for content responses
      properties:
        token_estimate:
          type: integer
          description: Estimated token count for returned content
        total_available_tokens:
          type: integer
          nullable: true
          description: Total tokens if reading full content
        tokens_used:
          type: integer
          nullable: true
          description: Tokens used in response (for searches)
        tokens_remaining:
          type: integer
          nullable: true
          description: Remaining tokens in budget
        results_truncated:
          type: boolean
          nullable: true
          description: Whether results were truncated due to budget
        total_results_available:
          type: integer
          nullable: true
          description: Total results available before truncation

    ContextShareRequest:
      type: object
      required:
        - title
        - summary
        - content
        - agent_source
      properties:
        title:
          type: string
          minLength: 1
          maxLength: 200
          description: Descriptive title for the context
        summary:
          type: string
          minLength: 10
          maxLength: 1000
          description: Brief summary of the conversation
        content:
          type: string
          minLength: 50
          description: Full conversation context
        agent_source:
          type: string
          description: Which agent is creating this context (e.g., "cursor", "claude-code")
        tags:
          type: array
          items:
            type: string
          description: Searchable tags for categorization
        metadata:
          type: object
          additionalProperties: true
          description: Optional metadata like file paths, repositories discussed, etc.
        nia_references:
          $ref: '#/components/schemas/NiaReferences'
        edited_files:
          type: array
          items:
            $ref: '#/components/schemas/EditedFile'
          description: List of files that were modified during conversation
        workspace_override:
          type: string
          description: Optional custom workspace name (overrides auto-detection)
        memory_type:
          $ref: '#/components/schemas/MemoryType'
        ttl_seconds:
          type: integer
          minimum: 0
          nullable: true
          description: Custom TTL in seconds. If not set, uses memory_type default (scratchpad=3600, episodic=604800, fact/procedural=permanent)
        lineage:
          $ref: '#/components/schemas/LineageInput'

    ContextShareResponse:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for the context
        user_id:
          type: string
          description: User who created the context
        organization_id:
          type: string
          description: Organization ID if context belongs to an organization
        title:
          type: string
          description: Context title
        summary:
          type: string
          description: Context summary
        content:
          type: string
          description: Full context content
        tags:
          type: array
          items:
            type: string
        agent_source:
          type: string
          description: Source agent (e.g., "cursor", "claude-code")
        created_at:
          type: string
          format: date-time
          description: When the context was created
        updated_at:
          type: string
          format: date-time
          description: When the context was last updated
        metadata:
          type: object
          additionalProperties: true
        nia_references:
          $ref: '#/components/schemas/NiaReferences'
        edited_files:
          type: array
          items:
            $ref: '#/components/schemas/EditedFile'
        memory_type:
          $ref: '#/components/schemas/MemoryType'
        expires_at:
          type: string
          format: date-time
          nullable: true
          description: When this context will expire (null for permanent memory types)
        lineage:
          $ref: '#/components/schemas/LineageMetadata'

    ContextShareUpdateRequest:
      type: object
      description: Request to update an existing context (all fields optional)
      properties:
        title:
          type: string
          minLength: 1
          maxLength: 200
        summary:
          type: string
          minLength: 10
          maxLength: 1000
        content:
          type: string
          minLength: 50
        tags:
          type: array
          items:
            type: string
        metadata:
          type: object
          additionalProperties: true
        nia_references:
          $ref: '#/components/schemas/NiaReferences'
        edited_files:
          type: array
          items:
            $ref: '#/components/schemas/EditedFile'
        memory_type:
          $ref: '#/components/schemas/MemoryType'
        ttl_seconds:
          type: integer
          minimum: 0
          nullable: true
          description: Custom TTL in seconds
        lineage:
          $ref: '#/components/schemas/LineageInput'

    OracleResearchRequest:
      type: object
      required:
        - query
      properties:
        query:
          type: string
          description: Research question to investigate
          example: "How does authentication work in the FastAPI codebase?"
        repositories:
          type: array
          items:
            type: string
          description: Optional list of repository identifiers to search
          example: ["fastapi/fastapi", "tiangolo/sqlmodel"]
        data_sources:
          type: array
          items:
            type: string
          description: Optional list of documentation source identifiers to search
          example: ["FastAPI Documentation", "SQLModel Docs"]
        output_format:
          type: string
          description: Optional output format specification
          example: "markdown report with code examples"
        model:
          type: string
          description: Optional model selection for Oracle (defaults to claude-opus-4-6)
          enum:
            - claude-opus-4-6
            - claude-opus-4-6-1m
            - claude-sonnet-4-5-20250929
            - claude-sonnet-4-5-1m

    OracleCitation:
      type: object
      description: A single grounded "citation" entry recorded by Oracle during tool use.
      properties:
        source_id:
          type: integer
          description: Monotonic integer id (1-based) assigned during the run
        tool:
          type: string
          description: Tool/action name that produced this citation
        args:
          type: object
          additionalProperties: true
          description: Tool arguments used
        summary:
          type: string
          description: Short summary of the tool result (truncated)

    OracleToolCall:
      type: object
      description: A single tool call logged by Oracle during the run.
      properties:
        action:
          type: string
          description: Tool/action name
        args:
          type: object
          additionalProperties: true
          description: Tool arguments used
        timestamp:
          type: string
          format: date-time
          description: ISO timestamp when the tool was executed

    OracleResearchResponse:
      type: object
      properties:
        query:
          type: string
          description: The research query that was executed
        final_report:
          type: string
          description: The comprehensive research report generated by Oracle
        citations:
          type: array
          items:
            $ref: '#/components/schemas/OracleCitation'
          description: Tool-result citations recorded during the run
        tool_calls:
          type: array
          items:
            $ref: '#/components/schemas/OracleToolCall'
          description: List of tool calls made during research
        iterations:
          type: integer
          description: Number of research iterations performed
        duration_ms:
          type: integer
          description: Duration of the research in milliseconds
        session_id:
          type: string
          description: Unique session identifier for this research
        created_at:
          type: string
          format: date-time
          description: When this research session was created

    OracleSessionSummary:
      type: object
      description: Summary of a persisted Oracle research session.
      properties:
        session_id:
          type: string
        title:
          type: string
          nullable: true
        query:
          type: string
        created_at:
          type: string
          format: date-time
        iterations:
          type: integer
          nullable: true
        duration_ms:
          type: integer
          nullable: true
        status:
          type: string
        model:
          type: string
          nullable: true

    OracleSessionDetails:
      allOf:
        - $ref: '#/components/schemas/OracleSessionSummary'
        - type: object
          properties:
            final_report:
              type: string
            citations:
              type: array
              items:
                $ref: '#/components/schemas/OracleCitation'
            tool_calls:
              type: array
              items:
                $ref: '#/components/schemas/OracleToolCall'
            research_notes:
              type: array
              items:
                type: string
            prioritized_repositories:
              type: array
              items:
                type: string
            prioritized_data_sources:
              type: array
              items:
                type: string
            discovered_repositories:
              type: array
              items:
                type: string
            discovered_data_sources:
              type: array
              items:
                type: string
            output_format:
              type: string
              nullable: true
            metadata:
              type: object
              additionalProperties: true

    OracleSessionChatRequest:
      type: object
      required:
        - message
      properties:
        message:
          type: string
          minLength: 1
          maxLength: 10000
          description: User's follow-up question

    OracleChatMessage:
      type: object
      properties:
        role:
          type: string
          enum: [user, assistant]
        content:
          type: string
        created_at:
          type: string
          format: date-time
          nullable: true
        is_original:
          type: boolean
        message_id:
          type: string
          nullable: true
        citations:
          type: array
          items:
            $ref: '#/components/schemas/OracleCitation'
          nullable: true

    OracleSessionMessagesResponse:
      type: object
      properties:
        session_id:
          type: string
        messages:
          type: array
          items:
            $ref: '#/components/schemas/OracleChatMessage'
        total:
          type: integer

    # Dependency Analysis Schemas
    DependencyAnalyzeRequest:
      type: object
      required:
        - manifest_content
      properties:
        manifest_content:
          type: string
          description: Raw content of the manifest file
        manifest_type:
          type: string
          enum: [package.json, requirements.txt, pyproject.toml, Cargo.toml, go.mod, Gemfile]
          description: Manifest type. Auto-detected if not provided.
        filename:
          type: string
          description: Original filename for type detection

    DependencySubscribeRequest:
      type: object
      required:
        - manifest_content
      properties:
        manifest_content:
          type: string
          description: Raw content of the manifest file
        manifest_type:
          type: string
          enum: [package.json, requirements.txt, pyproject.toml, Cargo.toml, go.mod, Gemfile]
          description: Manifest type. Auto-detected if not provided.
        filename:
          type: string
          description: Original filename for type detection
        include_dev_dependencies:
          type: boolean
          default: false
          description: Include devDependencies/dev-dependencies
        max_new_indexes:
          type: integer
          minimum: 0
          maximum: 500
          default: 150
          description: Max number of new indexes to start (0-500)

    DependencyItem:
      type: object
      properties:
        name:
          type: string
        version:
          type: string
          nullable: true
        registry:
          type: string
        is_dev:
          type: boolean

    MappingItem:
      type: object
      properties:
        name:
          type: string
        registry:
          type: string
        docs_url:
          type: string
          nullable: true
        mapping_source:
          type: string
        confidence:
          type: number

    AnalyzeResponse:
      type: object
      properties:
        manifest_type:
          type: string
        total_dependencies:
          type: integer
        dependencies:
          type: array
          items:
            $ref: '#/components/schemas/DependencyItem'
        mappings:
          type: array
          items:
            $ref: '#/components/schemas/MappingItem'
        unmapped_count:
          type: integer
        unmapped_packages:
          type: array
          items:
            type: string

    SubscriptionResultItem:
      type: object
      properties:
        name:
          type: string
        action:
          type: string
        docs_url:
          type: string
          nullable: true
        global_source_id:
          type: string
          nullable: true
        namespace:
          type: string
          nullable: true
        message:
          type: string

    SubscriptionResults:
      type: object
      properties:
        instant_access:
          type: array
          items:
            $ref: '#/components/schemas/SubscriptionResultItem'
        wait_for_indexing:
          type: array
          items:
            $ref: '#/components/schemas/SubscriptionResultItem'
        started_indexing:
          type: array
          items:
            $ref: '#/components/schemas/SubscriptionResultItem'
        not_found:
          type: array
          items:
            $ref: '#/components/schemas/SubscriptionResultItem'
        errors:
          type: array
          items:
            $ref: '#/components/schemas/SubscriptionResultItem'
        skipped:
          type: array
          items:
            $ref: '#/components/schemas/SubscriptionResultItem'

    SubscriptionSummary:
      type: object
      properties:
        instant_access:
          type: integer
        wait_for_indexing:
          type: integer
        started_indexing:
          type: integer
        not_found:
          type: integer
        errors:
          type: integer
        skipped:
          type: integer

    SubscribeResponse:
      type: object
      properties:
        manifest_type:
          type: string
        total_dependencies:
          type: integer
        results:
          $ref: '#/components/schemas/SubscriptionResults'
        summary:
          $ref: '#/components/schemas/SubscriptionSummary'

    # Advisor Schemas
    CodebaseContext:
      type: object
      properties:
        files:
          type: object
          additionalProperties:
            type: string
          description: Map of file_path to file_content
        file_tree:
          type: string
          nullable: true
          description: Directory structure (from tree command or similar)
        dependencies:
          type: object
          additionalProperties:
            type: string
          nullable: true
          description: Dependency files content (package.json, requirements.txt, etc.)
        git_diff:
          type: string
          nullable: true
          description: Git diff output for recent changes
        summary:
          type: string
          nullable: true
          description: Brief summary of the codebase/project
        focus_paths:
          type: array
          items:
            type: string
          nullable: true
          description: Specific paths the user is working on

    AdvisorSearchScope:
      type: object
      properties:
        repositories:
          type: array
          items:
            type: string
          nullable: true
          description: Repository identifiers to search
        data_sources:
          type: array
          items:
            type: string
          nullable: true
          description: Documentation source IDs to search

    AdvisorRequest:
      type: object
      required:
        - query
        - codebase
      properties:
        query:
          type: string
          description: User's question
        codebase:
          $ref: '#/components/schemas/CodebaseContext'
        search_scope:
          $ref: '#/components/schemas/AdvisorSearchScope'
        output_format:
          type: string
          enum: [explanation, checklist, diff, structured]
          default: explanation
          description: Output format

    AdvisorResponse:
      type: object
      properties:
        advice:
          type: string
          description: Tailored advice based on codebase and documentation
        sources_searched:
          type: integer
          description: Number of sources searched
        output_format:
          type: string
          description: Output format used

    # =========================================================================
    # Local Folder Schemas
    # =========================================================================

    FileItem:
      type: object
      required:
        - path
        - content
      properties:
        path:
          type: string
          description: Relative file path (e.g., 'src/main.py', 'notes/meeting.md')
          example: "notes/meeting.md"
        content:
          type: string
          description: File content as UTF-8 string

    CreateLocalFolderRequest:
      type: object
      required:
        - files
      properties:
        folder_name:
          type: string
          description: Display name for the folder
          example: "My Notes"
        folder_path:
          type: string
          description: Original folder path on user's machine (metadata only, not used for reading)
          example: "/Users/me/Documents/notes"
        files:
          type: array
          items:
            $ref: '#/components/schemas/FileItem'
          description: List of files with path and content to index
          minItems: 1

    ClassificationInfo:
      type: object
      properties:
        categories:
          type: array
          items:
            type: string
          description: List of detected categories
        distribution:
          type: object
          additionalProperties:
            type: integer
          description: Category distribution counts
        total_classified:
          type: integer
          description: Total items classified
        status:
          type: string
          enum: [pending, processing, completed, failed]
          description: Classification status
        progress:
          type: integer
          nullable: true
          description: Classification progress (0-100)
        classified_at:
          type: string
          nullable: true
          description: When classification completed (ISO timestamp)

    ContinuousSyncInfo:
      type: object
      properties:
        enabled:
          type: boolean
          description: Whether continuous sync is enabled
        last_sync:
          type: string
          nullable: true
          description: Last sync timestamp
        sync_cursor:
          type: object
          nullable: true
          description: Cursor for incremental sync

    LocalFolderItem:
      type: object
      required:
        - id
        - display_name
        - status
      properties:
        id:
          type: string
          format: uuid
          description: Local folder UUID
        display_name:
          type: string
          description: Display name
        folder_path:
          type: string
          nullable: true
          description: Original folder path (metadata)
        status:
          type: string
          enum: [processing, completed, indexed, failed]
          description: Indexing status
        file_count:
          type: integer
          default: 0
          description: Number of files indexed
        chunk_count:
          type: integer
          default: 0
          description: Number of chunks created
        created_at:
          type: string
          nullable: true
          description: Creation timestamp (ISO)
        updated_at:
          type: string
          nullable: true
          description: Last update timestamp (ISO)
        error:
          type: string
          nullable: true
          description: Error message if status is 'failed'
        classification:
          $ref: '#/components/schemas/ClassificationInfo'
        source_subtype:
          type: string
          nullable: true
          enum: [database, folder]
          description: Source subtype
        db_type:
          type: string
          nullable: true
          description: Database type (imessage, whatsapp, generic)
        continuous_sync:
          $ref: '#/components/schemas/ContinuousSyncInfo'
        category_id:
          type: string
          nullable: true
          description: Category ID if assigned

    LocalFolderListResponse:
      type: object
      properties:
        local_folders:
          type: array
          items:
            $ref: '#/components/schemas/LocalFolderItem'
        total:
          type: integer
          description: Total number of local folders

    RenameLocalFolderRequest:
      type: object
      required:
        - new_name
      properties:
        new_name:
          type: string
          minLength: 1
          maxLength: 200
          description: New display name

    LocalFolderTreeResponse:
      type: object
      properties:
        tree:
          type: object
          description: File tree structure
        total_files:
          type: integer
          description: Total number of files

    LocalFolderReadRequest:
      type: object
      properties:
        path:
          type: string
          description: File path to read
        line_start:
          type: integer
          description: Start line (1-indexed)
        line_end:
          type: integer
          description: End line (1-indexed)

    LocalFolderReadResponse:
      type: object
      properties:
        content:
          type: string
          description: File content
        path:
          type: string
          description: File path
        total_lines:
          type: integer
          description: Total lines in file

    LocalFolderGrepRequest:
      type: object
      required:
        - pattern
      properties:
        pattern:
          type: string
          description: Regex pattern to search
        path:
          type: string
          description: Path prefix filter
        case_sensitive:
          type: boolean
          default: false
        context_lines:
          type: integer
          default: 2
          description: Lines of context around matches
        max_matches:
          type: integer
          default: 100
          description: Maximum matches to return

    LocalFolderGrepResponse:
      type: object
      properties:
        matches:
          type: array
          items:
            type: object
            properties:
              file_path:
                type: string
              line_number:
                type: integer
              content:
                type: string
              context_before:
                type: array
                items:
                  type: string
              context_after:
                type: array
                items:
                  type: string
        total_matches:
          type: integer

    DatabaseUploadRequest:
      type: object
      required:
        - database
      properties:
        database:
          type: object
          required:
            - filename
            - content
          properties:
            filename:
              type: string
              description: Database filename
            content:
              type: string
              format: byte
              description: Base64-encoded database content

    CreateDatabaseFolderRequest:
      type: object
      required:
        - folder_name
        - db_type
        - database
      properties:
        folder_name:
          type: string
          description: Display name for the folder
        db_type:
          type: string
          enum: [imessage, whatsapp, generic]
          description: Database type
        database:
          type: object
          required:
            - filename
            - content
          properties:
            filename:
              type: string
            content:
              type: string
              format: byte
              description: Base64-encoded SQLite database

    SyncResponse:
      type: object
      properties:
        success:
          type: boolean
        message:
          type: string
        new_items:
          type: integer
          description: Number of new items synced
        updated_items:
          type: integer
          description: Number of items updated

    ContinuousSyncUpdateRequest:
      type: object
      properties:
        enabled:
          type: boolean
          description: Enable or disable continuous sync

    Error:
      type: object
      required:
        - detail
      properties:
        detail:
          type: string
          description: Error message

  responses:
    UnauthorizedError:
      description: API key is missing or invalid
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    RateLimitError:
      description: Rate limit has been exceeded
      headers:
        X-RateLimit-Limit:
          schema:
            type: integer
          description: Rate limit ceiling for the endpoint
        X-RateLimit-Remaining:
          schema:
            type: integer
          description: Number of requests remaining in the time window
        X-RateLimit-Reset:
          schema:
            type: string
            format: date-time
          description: Time when the rate limit resets
        X-Monthly-Limit:
          schema:
            type: integer
          description: Monthly request limit
        X-Monthly-Remaining:
          schema:
            type: integer
          description: Remaining requests for the month
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'

paths:
  /sources:
    get:
      tags: [Sources]
      summary: List sources
      description: List all sources with consistent pagination and filters.
      parameters:
        - name: type
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/SourceType'
        - name: query
          in: query
          required: false
          schema:
            type: string
        - name: status
          in: query
          required: false
          schema:
            type: string
        - name: category_id
          in: query
          required: false
          schema:
            type: string
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            default: 20
        - name: offset
          in: query
          required: false
          schema:
            type: integer
            default: 0
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SourceListResponse'
    post:
      tags: [Sources]
      summary: Create source
      description: Create and index a new source.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SourceCreateRequest'
      responses:
        '200':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Source'

  /sources/resolve:
    get:
      tags: [Sources]
      summary: Resolve source identifier
      description: Resolve a name or URL to a source ID.
      parameters:
        - name: identifier
          in: query
          required: true
          schema:
            type: string
        - name: type
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/SourceType'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SourceResolveResponse'

  /sources/{source_id}:
    get:
      tags: [Sources]
      summary: Get source
      parameters:
        - name: source_id
          in: path
          required: true
          schema:
            type: string
        - name: type
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/SourceType'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Source'
    patch:
      tags: [Sources]
      summary: Update source
      parameters:
        - name: source_id
          in: path
          required: true
          schema:
            type: string
        - name: type
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/SourceType'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SourceUpdateRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Source'
    delete:
      tags: [Sources]
      summary: Delete source
      parameters:
        - name: source_id
          in: path
          required: true
          schema:
            type: string
        - name: type
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/SourceType'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SourceDeleteResponse'

  /sources/{source_id}/tree:
    get:
      tags: [Sources]
      summary: Get source tree
      parameters:
        - name: source_id
          in: path
          required: true
          schema:
            type: string
        - name: type
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/SourceType'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object

  /sources/{source_id}/content:
    get:
      tags: [Sources]
      summary: Get source content
      parameters:
        - name: source_id
          in: path
          required: true
          schema:
            type: string
        - name: type
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/SourceType'
        - name: path
          in: query
          required: false
          schema:
            type: string
        - name: url
          in: query
          required: false
          schema:
            type: string
        - name: branch
          in: query
          required: false
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object

  /sources/{source_id}/grep:
    post:
      tags: [Sources]
      summary: Grep within a source
      parameters:
        - name: source_id
          in: path
          required: true
          schema:
            type: string
        - name: type
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/SourceType'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object

  /sources/{source_id}/sync:
    post:
      tags: [Sources]
      summary: Sync source
      parameters:
        - name: source_id
          in: path
          required: true
          schema:
            type: string
        - name: type
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/SourceType'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object

  /sources/{source_id}/classification:
    get:
      tags: [Sources]
      summary: Get source classification
      parameters:
        - name: source_id
          in: path
          required: true
          schema:
            type: string
        - name: type
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/SourceType'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
    patch:
      tags: [Sources]
      summary: Update source classification
      parameters:
        - name: source_id
          in: path
          required: true
          schema:
            type: string
        - name: type
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/SourceType'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object

  /search:
    post:
      tags: [Search]
      summary: Unified search
      description: Single search endpoint with mode discriminator.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SearchRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
  /repositories:
    get:
      summary: List all repositories
      description: List all indexed repositories for the authenticated user
      operationId: listRepositories
      tags:
        - Repositories
      parameters:
        - name: q
          in: query
          required: false
          schema:
            type: string
          description: Optional substring filter (matches repository/display_name)
        - name: status
          in: query
          required: false
          schema:
            type: string
          description: Optional status filter (e.g. completed|indexing|failed)
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 5000
          description: "Max repositories to return (default: all)"
        - name: offset
          in: query
          required: false
          schema:
            type: integer
            minimum: 0
            default: 0
          description: Number of repositories to skip
      responses:
        '200':
          description: List of repositories retrieved successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RepositoryListItem'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '429':
          $ref: '#/components/responses/RateLimitError'
    post:
      summary: Index a new repository
      description: |
        Start indexing a GitHub repository. The repository must be public or the request must include
        a GitHub token with appropriate access rights. Supports indexing specific folders within a repository
        by providing a path like "owner/repo/tree/branch/folder".
      operationId: indexRepository
      tags:
        - Repositories
      parameters:
        - name: X-GitHub-Token
          in: header
          required: false
          schema:
            type: string
          description: Optional GitHub token for private repository access
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RepositoryRequest'
      responses:
        '200':
          description: Repository indexing started successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    properties:
                      repository_id:
                        type: string
                      status:
                        type: string
                      status_url:
                        type: string
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '429':
          $ref: '#/components/responses/RateLimitError'

  /repositories/{repository_id}:
    get:
      summary: Get repository indexing status
      description: Check the current status of repository indexing
      operationId: getRepositoryStatus
      tags:
        - Repositories
      parameters:
        - name: repository_id
          in: path
          required: true
          schema:
            type: string
          description: The ID of the repository returned from the index endpoint
      responses:
        '200':
          description: Repository status retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RepositoryStatus'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          description: Repository not found
          content:
[...]
